{%- form 'new_comment', article -%}
{{ form.errors | default_errors }}
{%- if blog.moderated? -%}
<p>{{ 'blogs.comments.moderated' | t }}</p>
{%- endif -%}
                            <div class="rating-area">
                                <div class="rating-text">
                                    <h2 class="text">{{ 'blogs.comments.title' | t }}</h2>
                                </div>
                            </div>
                            <div class="comment-form mb-10">
                                <div class="contact-form">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="input-box text-input mb-20">
        <textarea  cols="30" rows="10" name="comment[body]" id="commentBody"  placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="col-lg-12">
                                                <div class="input-box mb-20">     
  <input type="text" class="coment-field {% if form.errors contains 'author' %}error{% endif %}" name="comment[author]" id="commentAuthor" value="{{ form.author }}" placeholder="{{ 'blogs.comments.name' | t }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="input-box mail-input mb-20">
<input type="text" class="coment-field {% if form.errors contains 'email' %}error{% endif %}" name="comment[email]" id="commentEmail" value="{{ form.email }}" placeholder="{{ 'blogs.comments.email' | t }}">
                                                </div>
                                            </div>
                                            <div class="col-12 mb-15">
                                                <button class="form-btn form-btn4" type="submit" name="submit">
                                                    <i class="fa fa-comment">
                                                    </i>
                                                    {{ 'blogs.comments.post' | t }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
{% endform %}
                          