 <div class="news-right-widget">
  {%- for block in section.blocks -%}
  {%- case block.type -%}
  {%- when 'search' -%} 
                  <div class="widget widget-search mb-40  widget-collapse">
    {%- if block.settings.widget_title != '' -%}
                      <div class="widget-title-box pb-25 mb-30 ">
                          <h4 class="widget-sub-title2 fs-20">{{ block.settings.widget_title }}</h4>
                      </div>
    {%- endif -%}
      <form action="/search" method="get" role="search"  class="subscribe-form mb-10  widget-collapse-hide">
        <input type="hidden" name="type" value="article">
        <input type="search" name="q" class="search-field" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        <button type="submit" class="widget-btn"><i class="fa fa-search"></i></button>
      </form>
                  </div>
    
  {%- when 'recent_post' -%}
                  <div class="widget widget-post mb-40  widget-collapse">
    {%- if block.settings.recent_post_title != blank -%}
                      <div class="widget-title-box pb-25 mb-30">
                          <h4 class="widget-sub-title2 fs-20">{{ block.settings.recent_post_title }}</h4>
                      </div>
    {%- endif -%}
                      <ul class="post-list  widget-collapse-hide">
      {%- assign recent_post_limit = block.settings.recent_post_limit_handle -%}
        {%- for article in blogs[blog.handle].articles limit: recent_post_limit -%}
                          <li>
                              <div class="blog-post mb-30">
          <a href="{{ article.url }}">
            <img class="img" src="{{ article | img_url: '80X80', crop: 'center' }}" alt="{{ article.alt }}">
          </a>
                                  <div class="post-content">
                                      <h6 class="mb-10"><a href="{{ article.url }}">{{ article.title }}</a></h6>
                                      <span class="fs-14"><i class="fal fa-calendar-alt"></i>{{ article.published_at | date: "%b %d, %Y" }}</span>
                                  </div>
                              </div>
                          </li>      
          {%- endfor -%}
                      </ul>
                  </div>
    
  {%- when 'archive' -%}
                  <div class="widget widget-categories-list mb-40  widget-collapse">
    {%- if block.settings.archive_title != '' -%}	
                      <div class="widget-title-box pb-25 mb-30">
                          <h4 class="widget-sub-title2 fs-20">{{ block.settings.archive_title }}</h4>
                      </div>
    {%- endif -%}
    <div class="blog-archive widget-collapse-hide list-none pt-0  widget-collapse-hide">
      {% capture ddmm %}{{ 'now' | date: "%B %Y" }}{% endcapture %}
      {% capture month %}{{ 'now' | date: "%B" }}{% endcapture %}
      {% capture year %}{{ 'now' | date: "%Y" }}{% endcapture %}

      {% case month %}
      {% when 'January' %}{% assign k = 1 %}
      {% when 'February' %}{% assign k = 2 %}
      {% when 'March' %}{% assign k = 3 %}
      {% when 'April' %}{% assign k = 4 %}
      {% when 'June' %}{% assign k = 5 %}
      {% when 'July' %}{% assign k = 6 %}
      {% when 'August' %}{% assign k = 7 %}
      {% when 'September' %}{% assign k = 8 %}
      {% when 'October' %}{% assign k = 9 %}
      {% when 'November' %}{% assign k = 10 %}
      {% when 'December' %}{% assign k = 11 %}
      {% endcase %}

      {% for i in (1..k) %}
      {% case month %}
      {% when 'January' %}{% assign previous_month = 'December' %}
      {% when 'February' %}{% assign previous_month = 'January' %}
      {% when 'March' %}{% assign previous_month = 'February' %}
      {% when 'April' %}{% assign previous_month = 'March' %}
      {% when 'May' %}{% assign previous_month = 'April' %}
      {% when 'June' %}{% assign previous_month = 'May' %}
      {% when 'July' %}{% assign previous_month = 'June' %}
      {% when 'August' %}{% assign previous_month = 'July' %}
      {% when 'September' %}{% assign previous_month = 'August' %}
      {% when 'October' %}{% assign previous_month = 'September' %}
      {% when 'November' %}{% assign previous_month = 'October' %}
      {% when 'December' %}{% assign previous_month = 'November' %}
      {% endcase %}
      <dl>
        <dt>
          {% assign blogPresent = 0 %}
          {% for article in blogs[blog.handle].articles limit: 10 %}
          {% capture date %}
          {{ article.published_at | date: "%B %Y" }}
          {% endcapture %}
          {% assign checkDate = month | append: ' ' | append: year %}
          {% if date contains checkDate %}
          {% assign blogPresent = 1 %}
          {% endif %}
          {% endfor %}

          {% if blogPresent == 1 %}
          {{ month }} {{year}}
          {% else %}

          {% endif %}

        </dt>
        <dd>
          <ul class="archive-sidebar">
            {% for article in blogs[blog.handle].articles limit: 10 %}
            {% capture date %}
            {{ article.published_at | date: "%B %Y" }}
            {% endcapture %}
            {% assign checkDate = month | append: ' ' | append: year %}
            {% if date contains checkDate %}
            <li>{{ article.title | link_to: article.url }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </dd>
      </dl>
      {% assign month = previous_month %}
      {% endfor %}

      {% assign prevYearsMonths = 'December' %}
      {% assign year = year | minus: 1 %}
      {% for y in (1..15) %}

      {% for i in (1..12) %}
      {% case prevYearsMonths %}
      {% when 'January' %}{% assign previous_month = 'December' %}
      {% when 'February' %}{% assign previous_month = 'January' %}
      {% when 'March' %}{% assign previous_month = 'February' %}
      {% when 'April' %}{% assign previous_month = 'March' %}
      {% when 'May' %}{% assign previous_month = 'April' %}
      {% when 'June' %}{% assign previous_month = 'May' %}
      {% when 'July' %}{% assign previous_month = 'June' %}
      {% when 'August' %}{% assign previous_month = 'July' %}
      {% when 'September' %}{% assign previous_month = 'August' %}
      {% when 'October' %}{% assign previous_month = 'September' %}
      {% when 'November' %}{% assign previous_month = 'October' %}
      {% when 'December' %}{% assign previous_month = 'November' %}
      {% endcase %}
      {% assign test = prevYearsMonths | append: ' ' | append: year %}
      <dl>
        <dt>

          {% assign blogPresent = 0 %}
          {% for article in blogs[blog.handle].articles limit: 10 %}
          {% capture date %}
          {{ article.published_at | date: "%B %Y" }}
          {% endcapture %}
          {% assign checkDate = prevYearsMonths | append: ' ' | append: year %}
          {% if date contains checkDate %}
          {% assign blogPresent = 1 %}
          {% endif %}
          {% endfor %}

          {% if blogPresent == 1 %}
          {{ prevYearsMonths }} {{year}}
          {% else %}

          {% endif %}
        </dt>
        <dd>
          <ul class="archive-sidebar">
            {% for article in blogs[blog.handle].articles limit: 10 %}
            {% capture date %}
            {{ article.published_at | date: "%B %Y" }}
            {% endcapture %}
            {% if date contains test %}
            <li>{{ article.title | link_to: article.url }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </dd>
      </dl>
      {% assign prevYearsMonths = previous_month %}
      {% endfor %}

      {% assign year = year | minus: 1 %}
      {% endfor %}
    </div>
                  </div>
    
  {%- when 'tag' -%}
  {%- if blog.all_tags.size > 0 -%}
                  <div class="widget widget-categories-tag mb-40  widget-collapse">
    {%- if block.settings.blog_tags_title != blank -%}
                      <div class="widget-title-box pb-25 mb-25">
                          <h4 class="widget-sub-title2 fs-20">{{ block.settings.blog_tags_title }}</h4>
                      </div>
    {%- endif -%}
                      <div class="tag-list  widget-collapse-hide">
      {%- assign tags_list_limit = block.settings.blog_tags_list_limit_handle -%}
      {%- for tag in blog.all_tags limit: tags_list_limit -%}
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="{% if current_tags contains tag %}active{% endif %}">{{ tag }}</a>
      {%- endfor -%}
                      </div>
                  </div>
  {%- endif -%}
  {%- endcase -%}
  {%- endfor -%}
              </div>


              
<script>  
  /* Slidebar collapse */ 
  $('.widget-collapse .widget-title-box').on("click", function(){
    $(this).siblings('.widget-collapse-hide').slideToggle();
    $(this).toggleClass('widget-collapse-show');
  });
</script>  

