                            <div class="comment-header">
                                <div class="comment">
                                    <h3>{{ 'blogs.comments.with_count' | t: count: article.comments_count }}</h3>
                                </div>
                                <div class="icon">
                                    <a href="#"><i class="fa fa-comments"></i></a>
                                </div>
                            </div>
                            <div class="row">
    {%- for comment in article.comments -%}
                                <div class="col-lg-12">
                                    <div class="comment-section">
                                        <div class="comment-text">
                                            <div class="commentator">
        {%- if section.settings.commentator_image -%}
        <img src="{{ section.settings.commentator_image | img_url: '100x100', crop: 'center' }}" alt="{{ section.settings.commentator_image.alt }}">
        {%- else -%}
        <img src="https://www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 | append: '?s=200' }}" />
        {%- endif -%}
                                            </div>
                                            <div class="text">
                                                <div class="section-title">
                                                    <div class="title">
                                                        <h2 class="sub-title">{{ comment.author }}</h2>
                                                        <span class="sect-title"><i class="fa fa-calendar"></i>{{ comment.created_at | date: "%b %d, %Y at %H:%M" }}</span>
                                                    </div>
                                                </div>
                                                <p class="description">{{ comment.content }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    {%- endfor -%}
                            </div>