{%- if section.settings.logo -%}
{% capture logo_size %}{{ section.settings.logo_width | escape }}x{% endcapture %}
<a href="{{ routes.root_url }}" class="theme-logo logo">
  <img  class="lazyload" data-sizes="auto" data-src="{{ section.settings.logo | img_url: logo_size }}" alt="{{ section.settings.logo.alt | default: shop.name }}"
       {%- if section.settings.ratina_logo_enable -%}
       srcset="{{ section.settings.logo | img_url: logo_size }} 1x, {{ section.settings.logo | img_url: logo_size, scale: 2 }} 2x"
       {%- endif -%}>
</a>
{%- else -%}
<a href="{{ routes.root_url }}">
  <strong>{{ shop.name }}</strong>
</a>
{%- endif -%}