{%- if settings.newsletter_system == 'by_shopify_form' -%}
{%- assign formId = 'Contact_' | append: section.id -%}
{%- form 'customer', id: formId -%}
{%- if form.posted_successfully? -%}
<p class="form-message form-message--success form-success">{{ 'general.newsletter_form.confirmation'| t }} <button class="success-form-close-btn">X</button></p>
<script>
  var SuccessFormToggle = $('.success-form-close-btn');
  SuccessFormToggle.on('click', function(){
    $('.form-message--success').slideToggle();
  })
</script>
{%- else -%}
{%- if settings.newsletter_style_handle == 'newsletter_style_1' -%}
<div id="one-time-newsletter" class="popup_wrapper">
  <div class="newsletter_popup_inner">
    <span class="popup_off"><i class="pe-7s-close"></i></span>
    <div class="subscribe_area">
      <h2 class="">{{ settings.newletter_popup_title }}</h2>
      <p class="">{{ settings.newsletter_text }}</p>
      <div class="form-group subscribe-form-group">
        {%- if form.errors -%}
        <div class="form-message form-message--error">
          {{ form.errors | default_errors }}
        </div>
        {%- endif -%}
        <div class="">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input class="form-control subscribe-form-input" type="email" name="contact[email]" id="{{ formId }}-email" value="{% if customer %}{{ customer.email }}{% endif %}"
                 placeholder="{{ 'general.newsletter_form.newsletter_email'| t }}" aria-label="{{ 'general.newsletter_form.newsletter_email'| t }}" {% if form.errors %}aria-invalid="true"{% endif %} autocorrect="off" autocapitalize="off">
          {%- if settings.privacy_policy_checbox_enable -%}
          <div class="privacy-policy-checkbox">
          	<input type="checkbox" id="privacyoption">
            {{ settings.privacy_policy_content }}
          </div>
          {%- endif -%}
          <button type="submit" class="newsletter-btn" name="commit" id="subscribe" {% if settings.privacy_policy_checbox_enable %}disabled{% endif %}>{{ settings.newsletter_button_name }}</button>
          {%- if settings.dont_show_again_enable -%}
          <p><input id="forgetMe" type="checkbox" name="forgetMe">{{ settings.dont_show_again_text }}</p>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>			
</div>
{%- elsif settings.newsletter_style_handle == 'newsletter_style_2' -%}
<div id="one-time-newsletter" class="popup_wrapper">
  <div class="newsletter_popup_inner">
    <span class="popup_off"><i class="pe-7s-close"></i></span>
    <div class="subscribe_area area-2">
      <div class="subscribe-image">
        {% if settings.newsletter_bg_img %}
        <img class="lazyload" data-sizes="auto" data-src="{{ settings.newsletter_bg_img | img_url: '320x400', crop: 'center' }}" width="320" height="400">
        {% else %}
        <img class="lazyload" data-src="https://via.placeholder.com/320x400">
        {% endif %}
      </div>
      <div class="subscribe-content">
        <h2 class="">{{ settings.newletter_popup_title }}</h2>
        <p class="">{{ settings.newsletter_text }}</p>
        <div class="form-group subscribe-form-group">
          {%- if form.errors -%}
          <div class="form-message form-message--error">
            {{ form.errors | default_errors }}
          </div>
          {%- endif -%}
          <div class="">
            <input type="hidden" name="contact[tags]" value="newsletter">
            <input class="form-control subscribe-form-input" type="email" name="contact[email]" id="{{ formId }}-email" value="{% if customer %}{{ customer.email }}{% endif %}"
                   placeholder="{{ 'general.newsletter_form.newsletter_email'| t }}" aria-label="{{ 'general.newsletter_form.newsletter_email'| t }}" {% if form.errors %}aria-invalid="true"{% endif %} autocorrect="off" autocapitalize="off">
            {%- if settings.privacy_policy_checbox_enable -%}
            <div class="privacy-policy-checkbox">
              <input type="checkbox" id="privacyoption">
              {{ settings.privacy_policy_content }}
            </div>
            {%- endif -%}
            <button type="submit" class="newsletter-btn" name="commit" id="subscribe" {% if settings.privacy_policy_checbox_enable %}disabled{% endif %}>{{ settings.newsletter_button_name }}</button>
            {%- if settings.dont_show_again_enable -%}
            <p><input id="forgetMe" type="checkbox" name="forgetMe"> {{ settings.dont_show_again_text }}</p>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>			
</div>
{%- endif -%}
{%- endif -%}
{%- endform -%}
{%- elsif settings.newsletter_system == 'by_mailchimp' -%}
{%- if settings.newsletter_style_handle == 'newsletter_style_1' -%}
<div id="one-time-newsletter" class="popup_wrapper">
  <div class="newsletter_popup_inner">
    <span class="popup_off"><i class="far fa-times-circle"></i></span>
    <div class="subscribe_area">
      <h2 class="">{{ settings.newletter_popup_title }}</h2>
      <p class="">{{ settings.newsletter_text }}</p>
      <div class="form-group subscribe-form-group">
        <form {% if settings.newsletter_action != '' %}action="{{ settings.newsletter_action }}"{% else %}action="#"{% endif %} method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
          <input type="email" class="form-control subscribe-form-input" id="mail" value="{% if customer %}{{ customer.email }}{% endif %}" name="EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email'| t }}">
          {%- if settings.privacy_policy_checbox_enable -%}
          <div class="privacy-policy-checkbox">
          	<input type="checkbox" id="privacyoption">
            {{ settings.privacy_policy_content }}
          </div>
          {%- endif -%}
          <button type="submit" class="newsletter-btn" id="subscribe" {% if settings.privacy_policy_checbox_enable %}disabled{% endif %}>{{ settings.newsletter_button_name }}</button>
          {%- if settings.dont_show_again_enable -%}
          <p><input id="forgetMe" type="checkbox" name="forgetMe"> {{ settings.dont_show_again_text }}</p>
          {%- endif -%}
        </form>
      </div>
    </div>
  </div>			
</div>
{%- elsif settings.newsletter_style_handle == 'newsletter_style_2' -%}
<div id="one-time-newsletter" class="popup_wrapper">
  <div class="newsletter_popup_inner">
    <span class="popup_off"><i class="pe-7s-close"></i></span>
    <div class="subscribe_area area-2">
      <div class="subscribe-image">
        {% if settings.newsletter_bg_img %}
        <img class="lazyload" data-src="{{ settings.newsletter_bg_img | img_url: '320x400', crop: 'center' }}" width="320" height="400">
        {% else %}
        <img class="lazyload" data-src="https://via.placeholder.com/320x400">
        {% endif %}
      </div>
      <div class="subscribe-content">
        <h2 class="">{{ settings.newletter_popup_title }}</h2>
        <p class="">{{ settings.newsletter_text }}</p>
        <div class="form-group subscribe-form-group">   
          <form {% if settings.newsletter_action != '' %}action="{{ settings.newsletter_action }}"{% else %}action="#"{% endif %} method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
            <input type="email" class="form-control subscribe-form-input" id="mail" value="{% if customer %}{{ customer.email }}{% endif %}" name="EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email'| t }}">
            {%- if settings.privacy_policy_checbox_enable -%}
            <div class="privacy-policy-checkbox">
              <input type="checkbox" id="privacyoption">
              {{ settings.privacy_policy_content }}
            </div>
            {%- endif -%}
            <button type="submit" class="newsletter-btn" id="subscribe" {% if settings.privacy_policy_checbox_enable %}disabled{% endif %}>{{ settings.newsletter_button_name }}</button>
            {%- if settings.dont_show_again_enable -%}
            <p><input id="forgetMe" type="checkbox" name="forgetMe"> {{ settings.dont_show_again_text }}</p>
            {%- endif -%}
          </form>
        </div>
      </div>
    </div>
  </div>			
</div>
{%- endif -%}
{%- endif -%}