{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
{%- assign on_sale = true -%}
{%- endif -%}
{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}
{%- assign variant = product.selected_or_first_available_variant -%}
{%- if product.available -%}
{%- assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" -%}
{%- endif -%} 

<div class="collection-item {{ variant.id }}">
  <a class="collection-image" href="{{ product.url | within: collection }}">
     <img class="popup_cart_image" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
  </a>
    <div class="bottom-content">
         {%- assign truncate_count = settings.truncate_count_handle -%}
      <a class="product-name popup_cart_title" href="{{ product.url | within: collection }}">
        {%- if settings.truncate_count_enable -%}
        {{ product.title | truncate: truncate_count }}
        {%- else -%}
        {{ product.title }}
        {%- endif -%}
      </a>
        <div class="action-wrap">
            <span class="product-price">{{ product.variants.first.price | money }}</span>
            {%- if product.variants.first.compare_at_price > product.variants.first.price -%}
            <span class="price-old"><del>{{ product.variants.first.compare_at_price | money }}</del></span>
            {%- endif -%}
        </div>
    </div>
</div>