{% layout none %}
<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <!-- Basic and Helper page needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
    {%- endif -%}

    <!-- Title and description -->
    {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
    {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
    {% if current_page != 1 %}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
    &ndash; {{ shop.name }}
    {% endunless %}
    {% endcapture %}
    <title>{{ seo_title }}</title>

    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    
    {{ content_for_header }}

    <!-- Remove this link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {{ 'password-plugin.css' | asset_url | stylesheet_tag }}
    {{ 'password-style.css' | asset_url | stylesheet_tag }}
    {{ 'password-responsive.css' | asset_url | stylesheet_tag }}


    <style type="text/css">
      ul, ol {
        margin-bottom: 13px;
        margin-left: 15px;
      }
      ol {
        margin-left: 25px;
      }
      #footer {
        margin-top: 15px;
        font-size: 13px;
        color: #ffffff;
        text-shadow: 0 1px rgba(255,255,255,0.4);
        text-align: center;
        position: relative;
        z-index: 99;
      }
      #powered {
        color: #ffffff;
        display: block;
        margin-top: 15px;
      }

      #powered a {
        background-repeat: no-repeat;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAACl0lEQVR4AW2RS2jcdRSFv3v/j5nJOBnbJCba0DQ2qU1aqw0oOqB0oxbB564gFLvothvBlWQjuJBCwcfOhYouBF2ILlMsFKWSIopFFNNSkyxaqxPzmJn/43evmUVpFv3gu9zNgQNHuAsfnn/2tLufcHgI9E3gU+6CvL/wHDsR/A3EDwiy6HAMmBbxsze+a30BGDuQ+fl5brP76Uv7I7GXFTbMfVTQKyL+tigzS9ey9fWOvxaJXQTaAPHN0QVuMyq14+Ycd5EN8FcQQ1QA2Owy2F4LXw/tilZ0WGaAzViGI2ZHKlO4f4xErTJsspW1EVEiTRisDeMugCMIvYzx5rruAX7XZF3B/flI4lY3b6OS0Jo6zUtH3+WJB0/hGEUoMAONIAQnTayxLXH/CLKvV25QTZq8OneOseYMANfTXfy0/BkeKpiBCAAUBU8Ci/H2g+OjWbHJ45Mn6Qcv/PEeW9mtbf8BDJUUsx4i9CUrbApAJw/URsR9QkTZXd8LgJtx/rezXP37Io3qfQRzzB1BKEsH9B5QNAphjyN7BeHPGxcAOHbwDCdbnxNrhcI6uDkh3Klt5nMDDZ1Q7++p+kA1GeSHpY/48vIZAB4ef5HJkRbdfA1zcHdEQFUIwafzzPepIuO9/L/o/uZhXnj0Hda6K2z0bgKQRnXcA2bgDgAIFAUDsXotdnx/GXrU0ub2NK/3BaDdWWa5fZlq0qDXcXZkcRArORqDHqpXhrl663u+/eUtDo49Q1Zu8eO1T+jk/3JvfQizHBzgToO8sMdicf9AJFpy84krq9/M/rzy1bS4RNV0kHo6BBghQBkcd4hjQRWynJqcOvcUO5l7pDGmhMPudgQ4lCZ65K/VfPb6arlVH5AFVX6tVHUxmF/6H+vwKe+hBs8sAAAAAElFTkSuQmCC);
        padding-left: 21px;
        text-decoration: none;
      }
      #powered a:hover {
        text-decoration: underline;
      }
      .errors {
        padding: 4px 5px;
        font-size: 15px;
        color: #7e1412;
        display: block;
        margin-bottom: 15px;
      }
      .errors ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .center {
        text-align: center;
        display: block;
        font-size: 17px;
      }
    </style>
  </head>
  <body class="password">
    
    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    
    <script type="text/javascript">
      document.getElementById('password').focus();
    </script>

    <!-- Your update file include here -->
    <script src="{{ 'modernizr-3.5.0.min.js' | asset_url }}"></script>
    <script src="{{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' }}"></script>

    <!-- Remove this js link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Your main.js file upload this file -->
    <script src="{{ 'password-plugin.js' | asset_url }}"></script>
    <script src="{{ 'password-theme.js' | asset_url }}"></script>
  </body>
</html>