{%- capture bg_image_class -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}bg-img lazyload{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
{%- capture sections_bg_image -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}data-bgset="{%- render 'responsive-bg-image', image: block.settings.section_bg_image -%}"{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}

<div class=" {% if section.settings.banner_style == 'style_1' %} rts-posters-section1 {% else %}  rts-posters-section section-5 section-gap {% endif %} {{ bg_image_class }}" id="section-{{ section.id }}" {{ sections_bg_image }}>
    <div class="container">
        <div class="row">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'banner' -%}
            <div class="{% if section.settings.banner_style == 'style_1' %} col-xl-3 col-lg-6 col-sm-6 col-12 {% else %} col-xl-3 {% endif %} ">
                <a href="{{ block.settings.banner_url }}" class="product-box product-box-medium {% if section.settings.banner_style == 'style_1' %} product-box-medium5  {% else %} product-box-medium2 {% endif %}">
                    <div class="contents">
              {%- if block.settings.banner_sub_title != '' -%}
                        <span class="pretitle">{{ block.settings.banner_sub_title }}</span>
              {%- endif -%}
              {%- if block.settings.banner_title != '' -%}
                        <h1 class="product-title">{{ block.settings.banner_title }}</h1>
              {%- endif -%}
              {%- if block.settings.banner_button_title != '' -%}
                        <div class="view-collections go-btn">{{ block.settings.banner_button_title }} 
                          {% if section.settings.banner_style == 'style_1' %}
                          <i class="rt-arrow-right-long"></i>  
                            {% else %} 
                          <i class="fal fa-long-arrow-right"></i>  
                             {% endif %}
                        </div>
              {%- endif -%}
                    </div>
                    <div class="product-thumb"><img src="{{ block.settings.banner_image | img_url: 'master' }}" alt="{{ block.settings.banner_image.alt }}">
                    </div>
                </a>
            </div>
          
      {%- when 'banner_2' -%}
            <div class="{% if section.settings.banner_style == 'style_1' %} col-xl-6 col-lg-12 col-sm-12 col-12 last-child {% else %} col-xl-6 {% endif %} ">
                <a href="{{ block.settings.banner_url }}" class="product-box product-box-medium mid">
                    <div class="contents">
              {%- if block.settings.banner_sub_title != '' -%}
                        <span class="pretitle">{{ block.settings.banner_sub_title }}</span>
              {%- endif -%}
              {%- if block.settings.banner_title != '' -%}
                        <h1 class="product-title">{{ block.settings.banner_title }}</h1>
              {%- endif -%}
              {%- if block.settings.banner_description != '' -%}
                        <p>{{ block.settings.banner_description }}</p>
              {%- endif -%}
                    </div>
                    <div class="product-thumb {% if section.settings.banner_style == 'style_1' %} product-thumb1  {% else %} {% endif %}"><img src="{{ block.settings.banner_image | img_url: 'master' }}"
                            alt="{{ block.settings.banner_image.alt }}"></div>
                </a>
            </div>
          
      {%- when 'banner_3' -%}
            <div class="{% if section.settings.banner_style == 'style_1' %}col-xl-3 col-lg-6 col-sm-6 col-12 {% else %} col-xl-3 {% endif %} ">
                <a href="{{ block.settings.banner_url }}" class="product-box product-box-medium product-box-medium3">
                    <div class="contents">
              {%- if block.settings.banner_sub_title != '' -%}
                        <span class="pretitle">{{ block.settings.banner_sub_title }}</span>
              {%- endif -%}
              {%- if block.settings.banner_title != '' -%}
                        <h1 class="product-title">{{ block.settings.banner_title }}</h1>
              {%- endif -%}
              {%- if block.settings.banner_button_title != '' -%}
                        <div class="view-collections go-btn">{{ block.settings.banner_button_title }}
                          {% if section.settings.banner_style == 'style_1' %}
                          <i class="rt-arrow-right-long"></i>
                          {% else %} 
                          <i class="fal fa-long-arrow-right"></i>  
                           {% endif %}
                        </div>
              {%- endif -%}
                    </div>
                    <div class="product-thumb"><img src="{{ block.settings.banner_image | img_url: 'master' }}"
                            alt="{{ block.settings.banner_image.alt }}"></div>
                </a>
            </div>
          
      {%- endcase -%}
      {%- endfor -%}
        </div>
    </div>
</div>

    
{%- render 'section-style' -%}

{% schema %}
  {
    "name": "Banner 2",
    "settings": [
        {
          "type": "select",
          "id": "banner_style",
          "label": "Banner",
          "options": [
            {
              "label": "Style One",
              "value": "style_1"
            },
            {
              "label": "Style Two",
              "value": "style_2"
            }
          ],
          "default": "style_1"
        }
	],
	"blocks":[
          {
            "type": "banner",
            "name": "Banner",
            "settings": [
              {
                "type": "image_picker",
                "id": "banner_image",
                "label": "Image",
        		"info": "Recommended Size: 540 x 426px"
              },
              {
                "type": "text",
                "id": "banner_sub_title",
                "label": "Sub Title",
                "default": "50% Offer"
              },
              {
                "type": "text",
                "id": "banner_title",
                "label": "Title",
                "default": "Last call for up <br> to 30% off"
              },
              {
                "type": "text",
                "id": "banner_button_title",
                "label": "Button Title",
                "default": "VIEW COLLECTIONS"
              },
              {
                "type": "url",
                "id": "banner_url",
                "label": "URL"
              }
            ]
         },
          {
            "type": "banner_2",
            "name": "Banner 2",
            "settings": [
              {
                "type": "image_picker",
                "id": "banner_image",
                "label": "Image",
        		"info": "Recommended Size: 540 x 426px"
              },
              {
                "type": "text",
                "id": "banner_sub_title",
                "label": "Sub Title",
                "default": "-45% Offer"
              },
              {
                "type": "text",
                "id": "banner_title",
                "label": "Title",
                "default": "SUMMER COLLECTION"
              },
              {
                "type": "textarea",
                "id": "banner_description",
                "label": "Banner Description",
                "default": "Don't miss the last opportunity"
              },
              {
                "type": "url",
                "id": "banner_url",
                "label": "URL"
              }
            ]
         },
          {
            "type": "banner_3",
            "name": "Banner 3",
            "settings": [
              {
                "type": "image_picker",
                "id": "banner_image",
                "label": "Image",
        		"info": "Recommended Size: 540 x 426px"
              },
              {
                "type": "text",
                "id": "banner_sub_title",
                "label": "Sub Title",
                "default": "SUMMER DRESS"
              },
              {
                "type": "text",
                "id": "banner_title",
                "label": "Title",
                "default": "BEST COLLECTION"
              },
              {
                "type": "text",
                "id": "banner_button_title",
                "label": "Button Title",
                "default": "Shop Now "
              },
              {
                "type": "url",
                "id": "banner_url",
                "label": "URL"
              }
            ]
         },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Banner 2",
		  "category": "7. banner",
		  "blocks":[
				{
					"type": "banner"
				},
				{
					"type": "banner_2"
				},
				{
					"type": "banner_3"
				}
			]
		}
	],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}