{%- capture bg_image_class -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}bg-img lazyload{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
{%- capture sections_bg_image -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}data-bgset="{%- render 'responsive-bg-image', image: block.settings.section_bg_image -%}"{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}


   <div class="rts-collections-section section-gap {{ bg_image_class }}" id="section-{{ section.id }}" {{ sections_bg_image }}>
        <div class="container">
            <div class="row">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'banner' -%}
                <div class="col-xl-4 col-md-4 col-sm-6 col-12 shop">
                    <div class="shop-now-box shop-now-box2 collection-section-item {% if block.settings.banner_style == 'style_1' %} box-1  {% elsif block.settings.banner_style == 'style_2' %} box-2 {% else %}  box-3 {% endif %}">
                        <a href="{{ block.settings.banner_url }}" class="picture"><img src="{{ block.settings.banner_image | img_url: 'master' }}"
                                alt="{{ block.settings.banner_image.alt }}"></a>
                        <div class="contents">
              {%- if block.settings.banner_sub_title != '' -%}
                            <h4 class="collection-text2">{{ block.settings.banner_sub_title }}</h4>
              {%- endif -%}
              {%- if block.settings.banner_title != '' -%}
                            <h2 class="title">{{ block.settings.banner_title }}</h2>
              {%- endif -%}
              {%- if block.settings.banner_button_title != '' -%}
                            <a href="{{ block.settings.banner_button_title_url }}" class="shop-now-btn shop-now-btn1">{{ block.settings.banner_button_title }} <i class="fal fa-long-arrow-right"></i></a>
              {%- endif -%}
                        </div>
                    </div>
                </div>
      {%- endcase -%}
      {%- endfor -%}
            </div>
        </div>
    </div>


<style>
  
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'banner' -%}
        {% if block.settings.banner_style == 'style_1' %}
.rts-collections-section .shop-now-box2.box-1 {
  background-image: url({{ block.settings.banner_bg_image | img_url: 'master' }});
} 
    {% elsif block.settings.banner_style == 'style_2' %}
.rts-collections-section .shop-now-box2.box-2 {
  background-image: url({{ block.settings.banner_bg_image | img_url: 'master' }});
} 
    {% else %} 
.rts-collections-section .shop-now-box2.box-3 {
  background-image: url({{ block.settings.banner_bg_image | img_url: 'master' }});
} 
    {% endif %}
      {%- endcase -%}
      {%- endfor -%}
  
</style>
   
{%- render 'section-style' -%}

{% schema %}
  {
    "name": "Banner 4",
    "settings": [
	
	],
	"blocks":[
          {
            "type": "banner",
            "name": "Banner",
            "settings": [
              {
                "type": "select",
                "id": "banner_style",
                "label": "Banner Style",
                "options": [
                  {
                    "label": "Style One",
                    "value": "style_1"
                  },
                  {
                    "label": "Style Two",
                    "value": "style_2"
                  },
                  {
                    "label": "Style Three",
                    "value": "style_3"
                  }
                ],
                "default": "style_1"
              },
              {
                "type": "image_picker",
                "id": "banner_bg_image",
                "label": "BG Image",
        		"info": "Recommended Size: 460 x 300px"
              },
              {
                "type": "image_picker",
                "id": "banner_image",
                "label": "Image",
        		"info": "Recommended Size: 210 x 273px"
              },
              {
                "type": "url",
                "id": "banner_url",
                "label": "URL"
              },
              {
                "type": "text",
                "id": "banner_sub_title",
                "label": "Sub Title",
                "default": "Collection AW 2022r"
              },
              {
                "type": "textarea",
                "id": "banner_title",
                "label": "Title",
                "default": "Table & Lamps"
              },
              {
                "type": "text",
                "id": "banner_button_title",
                "label": "Button Title",
                "default": "Shop now"
              },
              {
                "type": "url",
                "id": "banner_button_title_url",
                "label": "URL"
              }
            ]
         },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Banner 4",
		  "category": "7. banner",
		  "blocks":[
				{
					"type": "banner"
				},
				{
					"type": "banner"
				},
				{
					"type": "banner"
				}
			]
		}
	],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}