{%- capture bg_image_class -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}bg-img lazyload{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
{%- capture sections_bg_image -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}data-bgset="{%- render 'responsive-bg-image', image: block.settings.section_bg_image -%}"{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
<section class="group-product-area {{ bg_image_class }}" id="section-{{ section.id }}" data-section="BannerWithCollection" {{ sections_bg_image }}>
  <div class="container">
    <div class="row">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'banner' -%}
      <div {{ block.shopify_attributes }} class="col-sm-{{ block.settings.banner_column_sm }} col-md-{{ block.settings.banner_column_md }} col-lg-{{ block.settings.banner_column }}">
        <div class="group-product-banner" id="block-{{ block.id }}">
          <figure class="banner-statistics">
            {%- if block.settings.banner_image -%}
            <a href="{{ block.settings.banner_url }}" class="lazyload-wraper-position" style="padding-top:{{ 1 | divided_by: block.settings.banner_image.aspect_ratio | times: 100}}%;">
              {%- render 'responsive-image' with image: block.settings.banner_image, image_class: "lazyload-main-image" -%}
            </a>
            {%- else -%}
            <a href="{{ block.settings.banner_url }}">
              <img class="lazyload" data-src="https://via.placeholder.com/540x426" alt="{{ block.settings.banner_image.alt }}">
            </a>
            {%- endif -%}
            {%- if block.settings.banner_sub_title != '' or block.settings.banner_title != '' or block.settings.banner_button_title != '' -%}
            <div class="banner-content banner-content_style3 text-center">
              {%- if block.settings.banner_sub_title != '' -%}
              <h6 class="banner-text1">{{ block.settings.banner_sub_title }}</h6>
              {%- endif -%}
              {%- if block.settings.banner_title != '' -%}
              <h2 class="banner-text2">{{ block.settings.banner_title }}</h2>
              {%- endif -%}
              {%- if block.settings.banner_button_title != '' -%}
              <a href="{{ block.settings.banner_url }}" class="btn btn-text">{{ block.settings.banner_button_title }}</a>
              {%- endif -%}
            </div>
            {%- endif -%}
          </figure>
        </div>
      </div>
      {%- if block.settings.block_color_enable -%}
      <style>
        #block-{{ block.id }} .banner-text1 {
          color: {{ block.settings.sub_title_color }};
        }
        #block-{{ block.id }} .banner-text2 {
          color: {{ block.settings.title_color }};
        }
        #block-{{ block.id }} .btn-text {
          color: {{ block.settings.button_color }};
        }
        #block-{{ block.id }} .btn-text::before {
          background-color: {{ block.settings.button_color }};
        }
        #block-{{ block.id }} .btn-text:hover {
          color: {{ block.settings.button_hover_color }};
        }
        #block-{{ block.id }} .btn-text:hover::before {
          background-color: {{ block.settings.button_hover_color }};
        }
      </style>
      {%- endif -%}
      {%- when 'collection' -%}
      {%- capture data_slick_activation -%}
      data-slick='{
      {%- if section.settings.autoplay_true -%}
      "autoplay": true,
      "autoplaySpeed": {{ section.settings.autoplay_speed }},
      {%- endif -%}
  	   "rows": {{ block.settings.product_row }},
       "slidesToShow": {{ block.settings.product_column }},
  		"responsive":[
            {"breakpoint":992, "settings": {"slidesToShow": {{ block.settings.product_column_md }}} },
            {"breakpoint":768, "settings": {"slidesToShow": {{ block.settings.product_column_sm }}} },
            {"breakpoint":480, "settings": {"slidesToShow": 1} }
          ]
      }'
      {%- endcapture -%}
      <div {{ block.shopify_attributes }} class="col-sm-{{ block.settings.collection_column_sm }} col-md-{{ block.settings.collection_column_md }} col-lg-{{ block.settings.collection_column }}">
        <div class="categories-group-wrapper">
          <!-- section title start -->
          <div class="section-title-append">
            <h4>{{ block.settings.collection_title }}</h4>
            <div class="slick-append"></div>
          </div>
          <!-- section title start -->
          <!-- group list carousel start -->
          <div class="group-list-item-wrapper">
            <div class="group-list-carousel" {% if settings.rtl_enable %}dir="rtl"{% endif %} {{ data_slick_activation }}> 
              {%- assign featured_product = collections[block.settings.featured_product_handle] -%}
              {%- assign featured_product_limit = block.settings.featured_product_limit_handle -%}
              {%- if featured_product == empty -%}
              
              {%- assign a = 1 -%}
              {%- for i in (1..featured_product_limit) -%}
              {%- assign product_item = "product-" | append: a  -%}
              {%- assign a = a | plus: 1 -%}
              <div class="group-slide-item">
                <div class="group-item">
                  <div class="group-item-thumb">
                    {{ product_item | placeholder_svg_tag: 'product-svg-image' }}
                  </div>
                  <div class="group-item-desc">
                    <h5 class="group-product-name">Product Title</h5>
                    <div class="price-box">
                      <span class="price-regular">$99.99</span>
                    </div>
                  </div>
                </div>
              </div>
              {%- if a == 7 -%}
              {%- assign a = 1 -%}
              {%- endif -%}
              {%- endfor -%}
              
              {%- else -%}
              {%- for product in featured_product.products limit: featured_product_limit -%}
              {% render 'product-grid-item-small', product: product, collection: featured_product %}
              {%- endfor -%}
              {%- endif -%}
            </div>
          </div>
          <!-- group list carousel start -->
        </div>
      </div>
      {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{%- render 'section-style' -%}

{% schema %}
  {
    "name": "Banner With Collection",
    "settings": [
		{
			"type": "header",
            "content": "Options"
        },
		{
          "type": "checkbox",
          "id": "autoplay_true",
          "label": "Autoplay Enable",
          "default": false
      	},
		{
            "type": "range",
            "id": "autoplay_speed",
            "min": 1000,
            "max": 9000,
            "step": 1000,
            "label": "Autoplay Speed",
            "unit": "ms",
            "default": 7000
        }
	],
	"blocks":[
          {
            "type": "banner",
            "name": "Banner",
            "settings": [
              {
                "type": "image_picker",
                "id": "banner_image",
                "label": "Image",
        		"info": "Recommended Size: 540 x 426px"
              },
              {
                "type": "text",
                "id": "banner_sub_title",
                "label": "Sub Title",
                "default": "BEAUTIFUL"
              },
              {
                "type": "text",
                "id": "banner_title",
                "label": "Title",
                "default": "Wedding Rings"
              },
              {
                "type": "text",
                "id": "banner_button_title",
                "label": "Button Title",
                "default": "Shop Now"
              },
              {
                "type": "url",
                "id": "banner_url",
                "label": "URL"
              },
              {
                "type": "header",
                "content": "Banner Column"
              },
              {
                "type": "range",
                "id": "banner_column",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Desktop",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "banner_column_md",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Tablet",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "banner_column_sm",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Large Mobile",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "header",
                "content": "Color"
              },
              {
                "type": "checkbox",
                "id": "block_color_enable",
                "label": "Color Enable",
                "default": false,
          		"info": "Enable the field for color customization"
              },
              {
                "type": "color",
                "id": "sub_title_color",
                "label": "Sub Title Color",
                "default": "#777"
              },
              {
                "type": "color",
                "id": "title_color",
                "label": "Title Color",
                "default": "#222"
              },
              {
                "type": "color",
                "id": "button_color",
                "label": "Button Color",
                "default": "#222"
              },
              {
                "type": "color",
                "id": "button_hover_color",
                "label": "Button Hover Color",
                "default": "#c29958"
              }
            ]
         },
          {
            "type": "collection",
            "name": "Collection",
            "settings": [
              {
                "type": "header",
                "content": "Section Heading"
              },
              {
                "type": "text",
                "id": "collection_title",
                "label": "Section Title",
                "default": "Section Title Here"
              },
              {
                  "type": "header",
                  "content": "Collection"
              },
              {
                  "type": "collection",
                  "id": "featured_product_handle",
                  "label": "Select Collection"
              },
              {
                  "type": "header",
                  "content": "Product Option"
              },
              {
                  "type": "range",
                  "id": "featured_product_limit_handle",
                  "min": 2,
                  "max": 20,
                  "step": 1,
                  "label": "Limit",
                  "default": 8
              },
              {
                  "type": "range",
                  "id": "product_row",
                  "min": 1,
                  "max": 5,
                  "step": 1,
                  "label": "Row",
                  "default": 4
              },
              {
                  "type": "header",
                  "content": "Product Column"
              },
              {
                  "type": "range",
                  "id": "product_column",
                  "min": 1,
                  "max": 12,
                  "step": 1,
                  "label": "Desktop",
                  "default": 1
              },
              {
                  "type": "range",
                  "id": "product_column_md",
                  "min": 1,
                  "max": 12,
                  "step": 1,
                  "label": "Tablet",
                  "default": 2
              },
              {
                  "type": "range",
                  "id": "product_column_sm",
                  "min": 1,
                  "max": 12,
                  "step": 1,
                  "label": "Large Mobile",
                  "default": 1
              },
              {
                  "type": "header",
                  "content": "Collection Column"
              },
              {
                  "type": "range",
                  "id": "collection_column",
                  "min": 1,
                  "max": 12,
                  "step": 1,
                  "label": "Desktop",
                  "unit": "/12",
                  "default": 3
              },
              {
                  "type": "range",
                  "id": "collection_column_md",
                  "min": 1,
                  "max": 12,
                  "step": 1,
                  "label": "Tablet",
                  "unit": "/12",
                  "default": 12
              },
              {
                  "type": "range",
                  "id": "collection_column_sm",
                  "min": 1,
                  "max": 12,
                  "step": 1,
                  "label": "Large Mobile",
                  "unit": "/12",
                  "default": 12
              }
            ]
         },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Banner With Collection",
		  "category": "3. collections",
		  "blocks":[
				{
					"type": "banner"
				},
				{
					"type": "collection"
				},
				{
					"type": "collection"
				},
				{
					"type": "section_padding"
				}
			]
		}
	],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}