<div class="rts-featured-product-section3 news-feed-area"  data-section="BlogTemplate" id="section-{{ section.id }}">
   <div class="">
      <div class="container">
        <div class="row mb-15 rts-featured-product-section-inner {% if section.settings.sidebar_handle == 'right_sidebar_handle' %}flex-row-reverse{% endif %}">
      {%- if section.settings.sidebar_handle == 'left_sidebar_handle' or section.settings.sidebar_handle == 'right_sidebar_handle' -%}
          <div class="col-lg-4 pl-30 pl-lg-15 pl-md-15 pl-xs-15">
            {%- render 'blog-sidebar-2' -%}
          </div>
      {%- endif -%} 
          {%- assign blogs_limit = section.settings.blog_limit_handle -%}
          {%- paginate blog.articles by blogs_limit -%} 
          <div class="{% if section.settings.sidebar_handle == 'without_sidebar' %}col-lg-12{% else %}col-lg-8{% endif %} pe-xl-0">
            <div class="news-left">
              <div class="row">
            {% for article in blog.articles %}
{%- if section.settings.blog_style == 'blog_style_1' -%}
                  <div class="col-xl-{{ section.settings.blog_column }} col-md-{{ section.settings.blog_column_md }} col-sm-{{ section.settings.blog_column_sm }}">
                      <div class="full-wrapper wrapper-1 wrapper-4">
                            {%- if article.image -%}
 <div class="image-part">
    <a href="{{ article.url }}" class="lazyload-wraper-position image" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
      {%- render 'responsive-image' with image: article.image, image_class: "lazyload-main-image" -%}
    </a>
  </div>
  {%- endif -%}
                          <div class="blog-content">
                              <span class="date-full">
                                    <span class="day">{{ article.published_at | date: '%d' }}</span>
                                    <br>
                                    <span class="month">{{ article.published_at | date: '%m' }}</span>
                              </span>
                              <ul class="blog-meta"> 
                                  {%- for tag in article.tags limit: 1 -%}
                                    <li><a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a></li>
                                  {%- endfor -%}
                              </ul>
                              <div class="title">
                                    <a href="{{ article.url }}">{{ article.title }}</a>
                              </div>
                              <div class="author-info d-flex align-items-center">
                                    <div class="avatar"><img src="{{ section.settings.auther_image | img_url: 'large' }}" alt="{{ section.settings.auther_image.alt }}"></div>
                                    <div class="info">
                                      
    {%- if section.settings.author_name_enable -%}
                                        <p class="author-name">{{ article.author }}</p>
    {%- endif -%}
                                        <p class="author-dsg">{{ section.settings.author_title }}</p>
                                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
    {%- else -%}
  
                            <div class="col-xl-12">
                                <div class="feed-item2">
                                  {%- if article.image -%}
    <a href="{{ article.url }}" class="lazyload-wraper-position feed-imag" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
      {%- render 'responsive-image' with image: article.image, image_class: "lazyload-main-image" -%}
    </a>
  {%- endif -%}
                                    <div class="feed-content">
                                      
                                  {%- for tag in article.tags limit: 1 -%}
                                    <span class="feed-catagory"><a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a></span>
                                  {%- endfor -%}
                                        <div class="author">
                                          <img src="{{ section.settings.auther_image | img_url: 'large' }}" alt="{{ section.settings.auther_image.alt }}"> 
    {%- if section.settings.author_name_enable -%}
                                          {{ article.author }}
    {%- endif -%}
                                        </div>
                                        <h2 class="feed-title"><a href="{{ article.url }}">{{ article.title }}</a></h2>
                                      
    {%- if section.settings.blog_description_enable -%}
    {%- if article.excerpt.size > 0 -%}
    {{ article.excerpt }}
    {%- else -%}
    <p >{{ article.content | strip_html | truncatewords: 30 }}</p>
    {%- endif -%}
    {%- endif -%}
                                        <div class="feed-info">
                                            <span class="feed-date">
                                                <i class="rt-calendar-days"></i> {{ article.published_at | date: '%m/%d/%Y' }}</span>
                                            <span class="comments"><i class="rt-comments"></i>{{ 'blogs.comments.with_count' | t: count: article.comments_count }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
    {%- endif -%}
            {% endfor %}
                
              </div>
            </div>
                    <div class=" mt--20">
          {%- render 'pagination', paginate: paginate -%}
                    </div>
          </div>
          {%- endpaginate -%}
         </div>
      </div>
   </div>
</div>

{% comment %}
<div class="blog-main-wrapper section-padding" data-section="BlogTemplate" id="section-{{ section.id }}">
  <div class="container">
    <div class="row {% if section.settings.sidebar_handle == 'left_sidebar_handle' %}flex-row-reverse{% endif %}">
      {%- unless section.settings.sidebar_handle == 'without_sidebar' -%}
      <div class="col-lg-3">
        {%- render 'blog-sidebar' -%}
      </div>
      {%- endunless -%}
      {%- assign blogs_limit = section.settings.blog_limit_handle -%}
      {%- paginate blog.articles by blogs_limit -%} 
      <div class="{% if section.settings.sidebar_handle == 'without_sidebar' %}col-lg-12{% else %}col-lg-9{% endif %}">
        <div class="blog-item-wrapper">
          <div class="row mbn-30">
            {% for article in blog.articles %}
            <div class="col-lg-{{ section.settings.blog_column }} col-md-6 col-12">
              {%- render 'blog-grid-item' with article as article -%}
            </div>
            {% endfor %}
          </div>
          {%- if paginate.pages > 1 -%}
          {%- render 'pagination', paginate: paginate -%}
          {%- endif -%}
        </div>
      </div>
      {%- endpaginate -%}
    </div>
  </div>
</div>
{% endcomment %}



{% schema %}
  {
    "name": "Blog Page",
    "settings": [
		{
			"type": "header",
            "content": "Blog"
        },
        {
          "type": "select",
          "id": "blog_style",
          "label": "Blog Style",
          "options": [
            {
              "label": "Style One",
              "value": "blog_style_1"
            },
            {
              "label": "Style Two",
              "value": "blog_style_2"
            }
          ],
          "default": "blog_style_1"
        },
		{
          "type": "checkbox",
          "id": "blog_date_enable",
          "label": "Show Blog Date",
          "default": true
      	},
		{
          "type": "checkbox",
          "id": "author_name_enable",
          "label": "Show Blog Author",
          "default": true
      	},
		{
          "type": "checkbox",
          "id": "blog_description_enable",
          "label": "Show Blog Description",
          "default": false
      	},	
              {
                "type": "image_picker",
                "id": "auther_image",
                "label": "Image",
        		"info": "Recommended Size: 51 x 51px"
              },
		{
          "type": "text",
          "id": "author_title",
          "label": "Author Title",
          "default": "Author"
      	},
		{
            "type": "range",
            "id": "blog_limit_handle",
            "min": 2,
            "max": 100,
            "step": 1,
            "label": "Post Limit",
            "default": 8,
			"info": "How many products are displayed on each page"
        },
		{
			"type": "header",
            "content": "Blog Column"
        },
		{
          "type": "select",
          "id": "blog_column",
          "label": "Desktop",
		  "options":[
				{
                    "label": "2",
                    "value": "6"
                },
                {
                    "label": "3",
                    "value": "4"
                },
                {
                    "label": "4",
                    "value": "3"
                }
			],
			"default": "6"
      	},
		{
          "type": "select",
          "id": "blog_column_md",
          "label": "Tablet",
		  "options":[
				{
                    "label": "2",
                    "value": "6"
                },
                {
                    "label": "3",
                    "value": "4"
                },
                {
                    "label": "4",
                    "value": "3"
                }
			],
			"default": "6"
      	},
		{
          "type": "select",
          "id": "blog_column_xs",
          "label": "Mobile",
		  "options":[
				{
                    "label": "1",
                    "value": "12"
                },
                {
                    "label": "2",
                    "value": "6"
                }
			],
			"default": "12"
      	},
		{
			"type": "header",
			"content": "Blog Sidebar"
		},
		{
			"type": "radio",
			"id": "sidebar_handle",
			"label": "Sidebar Position -",
			"options": [
				{
					"label": "Left Sidebar",
					"value": "left_sidebar_handle"
				},
				{
					"label": "Right Sidebar",
					"value": "right_sidebar_handle"
				},
				{
					"label": "Without Sidebar",
					"value": "without_sidebar"
				}
			],
			"default": "left_sidebar_handle"
		}
	 ],
	 "blocks":[
		{
          "type": "search",
          "name": "Search",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Search"
            }
          ]
       },
	   {
          "type": "recent_post",
          "name": "Recent Post",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "recent_post_title",
              "label": "Recent Post Title",
              "default": "Recent Post"
			},
            {
              "type": "range",
              "id": "recent_post_limit_handle",
              "min": 2,
              "max": 10,
              "step": 1,
              "label": "Post Limit",
              "default": 3
            }
          ]
       },
	   {
          "type": "archive",
          "name": "Archive",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "archive_title",
              "label": "Archive Title",
              "default": "Archive"
            }
          ]
       },
	   {
          "type": "tag",
          "name": "Tag",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "blog_tags_title",
              "label": "Tags Title",
              "default": "Tags"
			},
            {
              "type": "range",
              "id": "blog_tags_list_limit_handle",
              "min": 5,
              "max": 20,
              "step": 1,
              "label": "Tag Limit",
              "default": 10
            }
          ]
       },
	   {
          "type": "menu",
          "name": "Menu",
          "settings": [
            {
              "type": "text",
              "id": "menu_title",
              "label": "Menu Title",
              "default": "Custom Menu"
            },
			{
              "type": "link_list",
              "id": "menu_handle",
              "label": "Menu"
            }
          ]
       }
	],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}
