   {%- capture bg_image_class -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}bg-img lazyload{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
{%- capture sections_bg_image -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}data-bgset="{%- render 'responsive-bg-image', image: block.settings.section_bg_image -%}"{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}

 
   <div class="rts-deal-section1 section9  {{ bg_image_class }}"   id="section-{{ section.id }}" {{ sections_bg_image }}>
        <div class="container-fluid">
            <div class="section-inner">
                <div class="row">
              {%- for block in section.blocks -%}
              {%- case block.type -%}
              {%- when 'banner' -%}
                    <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-12 p-0">
                        <div class="left-side">
                            <div class="row justify-content-end">
                                <div class="col-xl-6 col-md-6 d-sm-none"></div>
                                <div class="col-xl-6 col-md-6 col-sm-12 col-12">
                                  
        {%- assign featured_product = collections[block.settings.featured_product_handle] -%}
        {%- assign featured_product_limit = block.settings.featured_product_limit_handle -%}
        {%- if featured_product == empty -%}
                        {%- assign a = 1 -%}
          {%- for i in (1..featured_product_limit) -%}
          {%- assign product_item = "product-" | append: a  -%}
          {%- assign a = a | plus: 1 -%}
                                    <div class="item-box">
                                        <div class="image">
                                            {{ product_item | placeholder_svg_tag: 'product-svg-image' }}
                                        </div>
                                        <div class="content-box">
                                            <h2 class="product-title">The Organic Cotton Cutaway Tank</h2>
                                            <h2 class="product-price">$21.00</h2>
                                        </div>
                                    </div>
          {%- if a == 7 -%}
          {%- assign a = 1 -%}
          {%- endif -%}
          {%- endfor -%}
        {%- else -%}
                      {%- for product in featured_product.products limit: featured_product_limit -%}
                                    <div class="item-box">
                                        <div class="image">
                                          <a href="{{ product.url | within: collection }}">
                                             <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                                            
                                                {%- render 'product-badge', product: product, on_sale: on_sale, sold_out: sold_out -%}
                                            
                                          </a>
                                        </div>
                                        <div class="content-box">
                                            <h2 class="product-title">{{ product.title }}</h2>
                                            <h2 class="product-price">{{ product.variants.first.price | money }}</h2>
                                        </div>
                                    </div>
          {%- endfor -%}
        {%- endif -%}
                                </div>
                            </div>
                        </div>
                    </div>
                {%- when 'banner_content' -%}
                    <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="single-inner">
                            <div class="content-box">
                                <div class="sub-content">
                                    <img class="line-1" src="{{ block.settings.title_image_1 | img_url: 'large' }}" alt="">
                                    <span class="sub-text">{{ block.settings.section_sub_title }}</span>
                                </div>
                                <h2 class="slider-title">{{ block.settings.section_title }} </h2>
                                <div class="slider-description">
                                    <p>{{ block.settings.section_description }}</p>
                                </div>
                                <div class="countdown" id="countdown">
                                    <ul>
                                        <li><span id="days"></span>D</li>
                                        <li><span id="hours"></span>H</li>
                                        <li><span id="minutes"></span>M</li>
                                        <li><span id="seconds"></span>S</li>
                                    </ul>
                                </div>
                                <div class="content-bottom">
                                    <div class="img-box"><img src="{{ block.settings.box_image | img_url: 'master' }}" alt="{{ block.settings.box_image.alt }}">
                                    </div>
                                    <p class="content">{{ block.settings.content_description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                  
              {%- endcase -%}
              {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
<style>
  
              {%- for block in section.blocks -%}
              {%- case block.type -%}
              {%- when 'banner' -%}
.rts-deal-section1.section9 .container-fluid .section-inner .left-side {
  background: url({{ block.settings.banner_bg_image | img_url: 'master' }});
}
              {%- endcase -%}
              {%- endfor -%}
</style>

{%- render 'section-style' -%}


{% schema %}
  {
    "name": "Deal Product 3",
    "settings": [
      
    ],
	"blocks":[
          {
            "type": "banner",
            "name": "Banner Area",
            "settings": [
              {
                "type": "image_picker",
                "id": "banner_bg_image",
                "label": "BG Image"
              },
      		 {
      			"type": "collection",
                  "id": "featured_product_handle",
                  "label": "Select Collection"
              },
      		  {
                  "type": "range",
                  "id": "featured_product_limit_handle",
                  "min": 1,
                  "max": 20,
                  "step": 1,
                  "label": "Limit",
                  "default": 1
              }
            ]
         },
          {
            "type": "banner_content",
            "name": "Banner Content",
            "settings": [
        		{
                  "type": "textarea",
                  "id": "section_sub_title",
                  "label": "Section Sub Title",
                  "default": "Deal Of The Week"
              	},
                {
                  "type": "image_picker",
                  "id": "title_image_1",
                  "label": "Image 1",
                  "info": "Recommended Size: 22 x 6px"
                },
        		{
                  "type": "text",
                  "id": "section_title",
                  "label": "Section Title",
                  "default": "Roland Grand White <br> short T-shirt",
                  "info": "Use of <br>"
              	},
        		{
                  "type": "textarea",
                  "id": "section_description",
                  "label": "Section Description",
                  "default": "Our intent and our actions have always been informed by progress. We look at an impact report as a way to measure."
              	},
              {
                "type": "image_picker",
                "id": "box_image",
                "label": "Image",
                "info": "Recommended Size: 50 x 50px"
              },
      		{
                "type": "textarea",
                "id": "content_description",
                "label": "Description",
                "default": "Limited time offer. The deal will expires <br> on November 12, 2022 HURRY UP!",
               "info": "Use of <br>"
            	}
            ]
         },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Deal Product 3",
		  "category": "3. collections",
		  "blocks":[
				{
					"type": "banner"
				},
				{
					"type": "banner_content"
				}
			]
		}
	],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}