{%- capture bg_image_class -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}bg-img lazyload{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
{%- capture sections_bg_image -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}data-bgset="{%- render 'responsive-bg-image', image: block.settings.section_bg_image -%}"{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}


<div class="faq-page {{ bg_image_class }}" id="section-{{ section.id }}" {{ sections_bg_image }}>
  {%- if section.settings.section_title != '' or section.settings.section_sub_title != '' -%}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- section title start -->
        <div class="section-title text-center">
          {%- if section.settings.section_title != '' -%}
          <h2 class="title">{{ section.settings.section_title }}</h2>
          {%- endif -%}
          {%- if section.settings.section_sub_title != '' -%}
          <p class="sub-title">{{ section.settings.section_sub_title }}</p>
          {%- endif -%}
        </div>
        <!-- section title start -->
      </div>
    </div>
  </div>
  {%- endif -%}
  <div class="container">
    <div id="accordion">
      {%- assign i = 1 -%}
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'faq' -%}
      <div {{ block.shopify_attributes }} class="card">
        <div class="card-header" id="heading-{{ i }}">
          <h5 class="mb-0">
            <button class="btn btn-link {% unless forloop.first %}collapsed{% endunless %}" data-toggle="collapse" data-target="#collapse-{{ i }}" aria-expanded="true" aria-controls="collapse-{{ i }}">
              {{ block.settings.accordion_title }}
            </button>
          </h5>
        </div>
        <div id="collapse-{{ i }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-{{ i }}" data-parent="#accordion">
          <div class="card-body">
            {{ block.settings.accordion_content }}
          </div>
        </div>
      </div>
      {%- assign i = i | plus: 1 -%}
      {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{%- render 'section-style' -%}

{% schema %}
  {
    "name": "FAQ's",
    "settings": [
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Section Title Here"
      	},
		{
          "type": "textarea",
          "id": "section_sub_title",
          "label": "Section Sub Title",
          "default": "Section Sub Title Here"
      	}
	],
	"blocks":[
		{
			"type":"faq",
			"name": "Faq",
			"settings": [
				{
                  "type": "text",
                  "id": "accordion_title",
                  "label": "Title",
				  "default": "Title"
                },
				{
                  "type": "richtext",
                  "id": "accordion_content",
                  "label": "Content",
				  "default": "<p>Content</p>"
                }
			]	
		},
		{
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "FAQ's",
		  "category": "others",
		  "blocks":[
				{
					"type": "faq"
				},
				{
					"type": "faq"
				},
				{
					"type": "faq"
				},
				{
					"type": "faq"
				},
				{
					"type": "faq"
				},
				{
					"type": "section_padding"
				}
			]
		}
	],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}
