             {%- capture bg_image_class -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}bg-img lazyload{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
{%- capture sections_bg_image -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}data-bgset="{%- render 'responsive-bg-image', image: block.settings.section_bg_image -%}"{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
    
   <div class="rts-new-collection-section section9 section-10 {{ bg_image_class }}"  id="section-{{ section.id }}" {{ sections_bg_image }}  data-section="feature_collection_12">
        <div class="container">
            <div class="section-inner">
                <div class="section-header section-header3 section-header9 text-center">
                    <div class="wrapper">
                        <div class="sub-content">
                            <img class="line-1" src="{{ section.settings.title_image_1 | img_url: 'large' }}" alt="">
                            <span class="sub-text">{{ section.settings.section_sub_title }}</span>
                            <img class="line-2" src="{{ section.settings.title_image_2 | img_url: 'large' }}" alt="">
                        </div>
                        <h2 class="title">{{ section.settings.section_title }}</h2>
                    </div>
                </div>
                <div class="swiper rts-cmmnSlider-over" data-swiper="pagination">
                    <div class="swiper-wrapper">
        {%- assign featured_product = collections[section.settings.featured_product_handle] -%}
        {%- assign featured_product_limit = section.settings.featured_product_limit_handle -%}
        {%- if featured_product == empty -%}
                        {%- assign a = 1 -%}
          {%- for i in (1..featured_product_limit) -%}
          {%- assign product_item = "product-" | append: a  -%}
          {%- assign a = a | plus: 1 -%}
                        <div class="swiper-slide">
                            <div class="collection-item">
                                <div class="image">
                                              {{ product_item | placeholder_svg_tag: 'product-svg-image' }}
                                </div>
                                <div class="bottom-content">
                                    <h4 class="product-name">Cartier Aviator Sunglass</h4>
                                    <p class="price">$35.00</p>
                                </div>
                            </div>
                        </div>
          {%- if a == 7 -%}
          {%- assign a = 1 -%}
          {%- endif -%}
          {%- endfor -%}
        {%- else -%}
                      {%- for product in featured_product.products limit: featured_product_limit -%}
                        <div class="swiper-slide">
                            <div class="collection-item">
                                <div class="image">
                                    <a href="{{ product.url | within: collection }}">
                                         <img class="popup_cart_image" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                                    </a>
                                    {%- render 'product-badge', product: product, on_sale: on_sale, sold_out: sold_out -%}
                                </div>
                                <div class="bottom-content">
                                    {%- assign truncate_count = settings.truncate_count_handle -%}
                                      <h4 class="product-name"> 
                                        {%- if settings.truncate_count_enable -%}
                                        {{ product.title | truncate: truncate_count }}
                                        {%- else -%}
                                        {{ product.title }}
                                        {%- endif -%}
                                      </h4>
                                      <p class="price">{{ product.variants.first.price | money }}</p>
                                </div>
                            </div>
                        </div>
          {%- endfor -%}
        {%- endif -%}
                    </div>
                </div>
                <div class="swiper-pag">
                </div>
            </div>
        </div>
    </div>




{%- render 'section-style' -%}

{% schema %}
  {
    "name": "Featured Collection 12",
    "settings": [
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Product of the Week"
      	},
		{
          "type": "textarea",
          "id": "section_sub_title",
          "label": "Section Sub Title",
          "default": "Collections"
      	},
        {
          "type": "image_picker",
          "id": "title_image_1",
          "label": "Image 1",
          "info": "Recommended Size: 22 x 6px"
        },
        {
          "type": "image_picker",
          "id": "title_image_2",
          "label": "Image 2",
          "info": "Recommended Size: 22 x 6px"
        },
		{
			"type": "header",
            "content": "Product"
        },
		{
			"type": "collection",
            "id": "featured_product_handle",
            "label": "Select Collection"
        },
		{
            "type": "range",
            "id": "featured_product_limit_handle",
            "min": 1,
            "max": 20,
            "step": 1,
            "label": "Limit",
            "default": 8
        }
    ],
	"blocks":[
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Featured Collection 12",
		  "category": "3. collections",
		  "blocks":[
            
			]
		}
	],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}