   {%- capture bg_image_class -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}bg-img lazyload{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
{%- capture sections_bg_image -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}data-bgset="{%- render 'responsive-bg-image', image: block.settings.section_bg_image -%}"{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}

   <div class="{% if section.settings.featured_style == 'style_1' %}  rts-featured-product-section4 product-section7  {% else %} rts-featured-product-section1 featured-product7   {% endif %}   {{ bg_image_class }}"  id="section-{{ section.id }}" {{ sections_bg_image }}>
        <div class="container">
            <div class="rts-featured-product-section-inner">
                <div class="section-header section-header3 text-center">
                    <div class="wrapper">
                        <div class="sub-content">
                            <img class="line-1" src="{{ section.settings.title_image_1 | img_url: 'large' }}" alt="">
                            <span class="sub-text">{{ section.settings.section_sub_title }}</span>
                            <img class="line-2" src="{{ section.settings.title_image_2 | img_url: 'large' }}" alt="">
                        </div>
                      {% if section.settings.featured_style == 'style_1' %} 
                       {% else %} 
                        <h2 class="title">{{ section.settings.section_title }}</h2>
                        {% endif %} 
                    </div>
                </div>
              {% if section.settings.featured_style == 'style_1' %} 
                <p class="select-area area7">
                    <span class="level--filters">{{ section.settings.section_title }}</span>
                </p>
               {% else %} 
                {% endif %} 
                <div class="row">
        {%- assign featured_product = collections[section.settings.featured_product_handle] -%}
        {%- assign featured_product_limit = section.settings.featured_product_limit_handle -%}
        {%- if featured_product == empty -%}
                        {%- assign a = 1 -%}
          {%- for i in (1..featured_product_limit) -%}
          {%- assign product_item = "product-" | append: a  -%}
          {%- assign a = a | plus: 1 -%}
                    <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                        <div class="product-item element-item2">
                            {{ product_item | placeholder_svg_tag: 'product-svg-image' }}
                            <div class="bottom-content">
                                <a href="#" class="product-name">Shot Men's Canvas</a>
                                <div class="action-wrap">
                                    <span class="price">$119.00</span>
                                    <a href="#" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                            <div class="quick-action-button">
                                <div class="cta-single cta-quickview">
                                    <button class="product-details-popup-btn"><i class="far fa-eye"></i></button>
                                </div>
                                <div class="cta-single cta-wishlist">
                                    <a href="#"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
          {%- if a == 7 -%}
          {%- assign a = 1 -%}
          {%- endif -%}
          {%- endfor -%}
        {%- else -%}
                      {%- for product in featured_product.products limit: featured_product_limit -%}
                    <div class="col-xl-3 col-md-4 col-sm-6 col-12">
          {%- render 'product-grid-item-12', product: product, collection: featured_product -%}
                    </div>
          {%- endfor -%}
        {%- endif -%}
                </div>
            </div>
        </div>
    </div>



{%- render 'section-style' -%}

{% schema %}
  {
    "name": "Featured Collection 9",
    "settings": [
        {
          "type": "select",
          "id": "featured_style",
          "label": "Featured Style",
          "options": [
            {
              "label": "Style One",
              "value": "style_1"
            },
            {
              "label": "Style Two",
              "value": "style_2"
            }
          ],
          "default": "style_1"
        },
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Explore our"
      	},
		{
          "type": "textarea",
          "id": "section_sub_title",
          "label": "Section Sub Title",
          "default": "Featured"
      	},
        {
          "type": "image_picker",
          "id": "title_image_1",
          "label": "Image 1",
          "info": "Recommended Size: 22 x 6px"
        },
        {
          "type": "image_picker",
          "id": "title_image_2",
          "label": "Image 2",
          "info": "Recommended Size: 22 x 6px"
        },
		{
			"type": "header",
            "content": "Product"
        },
		{
			"type": "collection",
            "id": "featured_product_handle",
            "label": "Select Collection"
        },
		{
            "type": "range",
            "id": "featured_product_limit_handle",
            "min": 2,
            "max": 20,
            "step": 1,
            "label": "Limit",
            "default": 8
        }
    ],
	"blocks":[
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Featured Collection 9",
		  "category": "3. collections",
		  "blocks":[
				{
					"type": "section_padding"
				}
			]
		}
	],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}
