{%- if section.settings.header_style == 'header_style_1' -%}
{%- render 'footer-1' -%}
{%- elsif section.settings.header_style == 'header_style_2'-%}
{%- render 'footer-2' -%}
{%- elsif section.settings.header_style == 'header_style_3' or section.settings.header_style == 'header_style_7' or section.settings.header_style == 'header_style_8'  -%}
{%- render 'footer-3' -%}
{%- elsif section.settings.header_style == 'header_style_4' -%}
{%- render 'footer-4' -%}
{%- elsif section.settings.header_style == 'header_style_5' -%}
{%- render 'footer-5' -%}
{%- elsif section.settings.header_style == 'header_style_6' -%}
{%- render 'footer-6' -%}
{%- endif -%}

<style>
  .footer .footer-bottom-area {
  background: {{ section.settings.footer_bottom_bg_color }};
}
  .copyright p a {
  color: {{ section.settings.footer_copyright_anchor_color }};
}
  </style>
{%- if section.settings.section_color_enable -%}
<style>
  .footer-top {
    background: {{ section.settings.footer_top_bg_color }} {% if section.settings.footer_bg_image %}url("{{ section.settings.footer_bg_image | img_url: 'master' }}") no-repeat scroll center center / cover{% endif %};
  }
  .widget-item, .contact-block li a {
    color: {{ section.settings.footer_top_color }};
  }
  .newsletter-inner .news-field{
    color: {{ section.settings.footer_top_color }};
  }
  .newsletter-inner .news-field::-webkit-input-placeholder {
    color: {{ section.settings.footer_top_color }};
  }
  .newsletter-inner .news-field::-webkit-input-placeholder {
    color: {{ section.settings.footer_top_color }};
  }
  .newsletter-inner .news-field:-ms-input-placeholder {
    color: {{ section.settings.footer_top_color }};
  }
  .newsletter-inner .news-field::-ms-input-placeholder {
    color: {{ section.settings.footer_top_color }};
  }
  .newsletter-inner .news-field::placeholder {
    color: {{ section.settings.footer_top_color }};
  }
  .widget-title-text, .widget-title{
    color: {{ section.settings.footer_top_widget_color }};
  }
  .info-list li a {
    color: {{ section.settings.footer_top_menu_color }};
  }
  .info-list li a:hover {
    color: {{ section.settings.footer_top_menu_hover_color }};
  }
  .newsletter-inner .news-field {
    border-bottom: 1px solid {{ section.settings.footer_newsletter_border_color }};
  }
  .newsletter-inner .news-btn {
    color: {{ section.settings.footer_newsletter_button_color }};
  }
  .newsletter-inner .news-btn:hover {
    color: {{ section.settings.footer_newsletter_button_hover_color }};
  }
  .social-link a {
    color: {{ section.settings.social_link_color }};
    background-color: {{ section.settings.social_link_bg_color }};
    border: 1px solid {{ section.settings.social_link_border_color }};
  }
  .social-link a:hover {
    color: {{ section.settings.social_link_hover_color }};
    background-color: {{ section.settings.social_link_hover_bg_color }};
    border: 1px solid {{ section.settings.social_link_hover_border_color }};
  }
  .footer-bottom {
    background-color: {{ section.settings.copyright_bg_color }};
  }
  .copyright-text p, .copyright-text p a{
  	color: {{ section.settings.copyright_text_color }};
  }
</style>
{%- endif -%}
{% schema %}
  {
    "name": "Footer",
    "settings": [
        {
          "type": "select",
          "id": "header_style",
          "label": "Footer Style",
          "options": [
            {
              "label": "Style One",
              "value": "header_style_1"
            },
            {
              "label": "Style Two",
              "value": "header_style_2"
            },
            {
              "label": "Style Three",
              "value": "header_style_3"
            },
            {
              "label": "Style Four",
              "value": "header_style_4"
            },
            {
              "label": "Style Five",
              "value": "header_style_5"
            },
            {
              "label": "Style Six",
              "value": "header_style_6"
            },
            {
              "label": "Style Saven",
              "value": "header_style_7"
            },
            {
              "label": "Style Eight",
              "value": "header_style_8"
            }
          ],
          "default": "header_style_1"
        },
		{
          "type": "color",
          "id": "footer_bottom_bg_color",
          "label": "Bottom BG Color",
		  "default": "#111111"
		},
		{
          "type": "color",
          "id": "footer_copyright_anchor_color",
          "label": "Copyright Anchor Color",
		  "default": "#777777"
		},
        {
          "type": "header",
          "content": "Service Area"
        },
        {
          "type": "header",
          "content": "Service 1"
        },
        {
          "type": "text",
          "id": "service_title_1",
          "label": "Title",
          "default": "International Shipment"
        },
        {
          "type": "textarea",
          "id": "service_content_1",
          "label": "Content",
          "default": "Orders are shipped seamlessly between countries"
        },
        {
          "type": "header",
          "content": "Service 2"
        },
        {
          "type": "text",
          "id": "service_title_2",
          "label": "Title",
          "default": "Online Support 24/7"
        },
        {
          "type": "textarea",
          "id": "service_content_2",
          "label": "Content",
          "default": "Orders are shipped seamlessly between countries"
        },
        {
          "type": "header",
          "content": "Service 3"
        },
        {
          "type": "text",
          "id": "service_title_3",
          "label": "Title",
          "default": "Money Return"
        },
        {
          "type": "textarea",
          "id": "service_content_3",
          "label": "Content",
          "default": "Orders are shipped seamlessly between countries"
        },
        {
          "type": "header",
          "content": "Service 4"
        },
        {
          "type": "text",
          "id": "service_title_4",
          "label": "Title",
          "default": "Member Discount"
        },
        {
          "type": "textarea",
          "id": "service_content_4",
          "label": "Content",
          "default": "Orders are shipped seamlessly between countries"
        },
        {
          "type": "checkbox",
          "id": "copy_ritht_text_enable",
          "label": "Copyright Enable",
          "default": true
        },
		{
          "type": "richtext",
          "id": "copy_ritht_text",
          "label": "CopyRight Text",
		  "default": "<p>Copyright ©99Shopify All Right Reserved.</p>"
		},
        {
          "type": "checkbox",
          "id": "payment_image_enable",
          "label": "Payment Image Enable",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "payment_image",
          "label": "Image",
          "info": "Recommended Size: 312 x 22px"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "checkbox",
          "id": "section_color_enable",
          "label": "Color Enable",
          "default": false,
          "info": "Enable the field for color customization"
        },
		{
          "type": "header",
          "content": "Footer Top"
		},
		{
          "type": "image_picker",
          "id": "footer_bg_image",
          "label": "BG Image"
		},
		{
          "type": "color",
          "id": "footer_top_bg_color",
          "label": "BG Color",
		  "default": "#f7f7f7"
		},
		{
          "type": "color",
          "id": "footer_top_color",
          "label": "Content Color",
		  "default": "#555555"
		},
		{
          "type": "color",
          "id": "footer_top_widget_color",
          "label": "Widget Title Color",
		  "default": "#222"
		},
		{
          "type": "color",
          "id": "footer_top_menu_color",
          "label": "Menu Color",
		  "default": "#555555"
		},
		{
          "type": "color",
          "id": "footer_top_menu_hover_color",
          "label": "Menu Hover Color",
		  "default": "#c29958"
		},
		{
          "type": "color",
          "id": "footer_newsletter_border_color",
          "label": "Newsletter Border Color",
		  "default": "#bcbcbc"
		},
		{
          "type": "color",
          "id": "footer_newsletter_button_color",
          "label": "Newsletter Button Color",
		  "default": "#424242"
		},
		{
          "type": "color",
          "id": "footer_newsletter_button_hover_color",
          "label": "Newsletter Button Hover Color",
		  "default": "#424242"
		},
		{
          "type": "header",
          "content": "Social Link"
		},
		{
          "type": "color",
          "id": "social_link_color",
          "label": "Color",
		  "default": "#777777"
		},
		{
          "type": "color",
          "id": "social_link_bg_color",
          "label": "BG Color",
		  "default": "#fff"
		},
		{
          "type": "color",
          "id": "social_link_border_color",
          "label": "Border Color",
		  "default": "#dedede"
		},
		{
          "type": "color",
          "id": "social_link_hover_color",
          "label": "Hover Color",
		  "default": "#777777"
		},
		{
          "type": "color",
          "id": "social_link_hover_bg_color",
          "label": "Hover BG Color",
		  "default": "#424242"
		},
		{
          "type": "color",
          "id": "social_link_hover_border_color",
          "label": "Hover Border Color",
		  "default": "#424242"
		},
		{
          "type": "header",
          "content": "Copyright"
		},
		{
          "type": "color",
          "id": "copyright_bg_color",
          "label": "BG Color",
		  "default": "#fff"
		},
		{
          "type": "color",
          "id": "copyright_text_color",
          "label": "Color",
		  "default": "#555"
		},
        {
          "type": "header",
          "content": "Snow Fall"
        },
        {
            "type": "checkbox",
            "id": "snow_enable",
            "label": "Snow Fall Enable",
            "default": false,
            "info": "It's basically for the Christmas version"		
        }
    ],
	"blocks":[
          {
            "type": "service",
            "name": "Service",
			"limit": 4,
            "settings": [
              {
                "type": "image_picker",
                "id": "service_image",
                "label": "Icon",
        		"info": "Recommended Size: 36 x 36px"
              },
              {
                "type": "text",
                "id": "service_title",
                "label": "Title",
                "default": "Free shipping"
              },
              {
                "type": "textarea",
                "id": "service_content",
                "label": "Content",
                "default": "Free shipping on orders over $65."
              }
            ]
         },
	   {
          "type": "about",
          "name": "About",
		  "limit": 1,
          "settings": [
              {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
              },
              {
                "type": "range",
                "id": "logo_width",
                "label": "Custom logo width",
                "min": 50,
                "max": 300,
                "step": 5,
                "unit": "px",
                "default": 150
              },
              {
                "type": "checkbox",
                "id": "ratina_logo_enable",
                "label": "Retina Logo Enable",
                "default": false
              },
              {
                "type": "textarea",
                "id": "about_content",
                "label": "Content",
                "default": "Content here..."
              },
              {
                "type": "checkbox",
                "id": "margin_top_enable",
                "label": "Margin Top Enable",
                "default": false
              },
              {
                "type": "image_picker",
                "id": "about_image",
                "label": "About Icon",
        		"info": "Recommended Size: 36 x 36px"
              },
              {
                "type": "text",
                "id": "time_title",
                "label": "About Title",
                "default": "Mon - Fri: 9:00-20:00"
              },
              {
                "type": "text",
                "id": "time_contact",
                "label": "About Contact",
                "default": "0020 500 - CALL - 000"
              },
              {
                "type": "image_picker",
                "id": "about_image_2",
                "label": "About Icon 2",
        		"info": "Recommended Size: 36 x 36px"
              },
              {
                "type": "text",
                "id": "support_title",
                "label": "About Title 2",
                "default": "Get Free Support"
              },
              {
                "type": "text",
                "id": "support_emain",
                "label": "About Contact 2",
                "default": "info@webmail.com"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_1_name",
                "label": "Social Icon Name",
                "default": "twitter",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_1_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_2_name",
                "label": "Social Icon Name",
                "default": "instagram",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_2_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_3_name",
                "label": "Social Icon Name",
                "default": "google-plus",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_3_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_4_name",
                "label": "Social Icon Name",
                "default": "linkedin",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_4_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Column"
              },
              {
                "type": "range",
                "id": "widget_column",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Desktop",
                "unit": "/12",
                "default": 3
              },
              {
                "type": "range",
                "id": "widget_column_md",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Tablet",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "widget_column_sm",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Large Mobile",
                "unit": "/12",
                "default": 12
              }
          ]
       },
	   {
          "type": "contact",
          "name": "Contact",
		  "limit": 1,
          "settings": [
              {
                "type": "text",
                "id": "widget_title",
                "label": "Title",
                "default": "Contact Us"
              },
              {
                "type": "textarea",
                "id": "content",
                "label": "Content",
                "default": "Elegant pink origami design three type of dimensional view and decoration co Great for adding a decorative touch to any room’s decor."
              },
              {
                "type": "text",
                "id": "buttont_title",
                "label": "Button",
                "default": "Get In Touch"
              },
              {
                "type": "url",
                "id": "buttont_url",
                "label": "URL"
              },
              {
                "type": "header",
                "content": "Column"
              },
              {
                "type": "range",
                "id": "widget_column",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Desktop",
                "unit": "/12",
                "default": 3
              },
              {
                "type": "range",
                "id": "widget_column_md",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Tablet",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "widget_column_sm",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Large Mobile",
                "unit": "/12",
                "default": 12
              }
          ]
       },
	   {
          "type": "menu",
          "name": "Menu",
		  "limit": 3,
          "settings": [
              {
                "type": "text",
                "id": "widget_title",
                "label": "Title",
                "default": "Information"
              },
              {
                "type": "link_list",
                "id": "menu_handle",
                "label": "Menu"
              },
              {
                "type": "checkbox",
                "id": "grid_view_enable",
                "label": "Display - Grid Enable",
                "default": true
              },
              {
                "type": "checkbox",
                "id": "margin_top_enable",
                "label": "Margin Top Enable",
                "default": false
              },
              {
                "type": "header",
                "content": "Column"
              },
              {
                "type": "range",
                "id": "widget_column",
                "min": 1,
                "max": 15,
                "step": 1,
                "label": "Desktop",
                "unit": "/15",
                "default": 3
              },
              {
                "type": "range",
                "id": "widget_column_md",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Tablet",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "widget_column_sm",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Large Mobile",
                "unit": "/12",
                "default": 12
              }
          ]
       },
	   {
          "type": "social_midea",
          "name": "Social Media",
		  "limit": 1,
          "settings": [
              {
                "type": "text",
                "id": "widget_title",
                "label": "Title",
                "default": "Follow Us"
              },
              {
                "type": "paragraph",
                "content": "Go to 'Theme Settings > Social Media' for social media settings"
              },
              {
                "type": "richtext",
                "id": "social_content",
                "label": "Content"
              },
              {
                "type": "image_picker",
                "id": "app_image_1",
                "label": "App Image 1"
              },
              {
                "type": "url",
                "id": "app_image_1_url",
                "label": "App Image 1 URL"
              },
              {
                "type": "image_picker",
                "id": "app_image_2",
                "label": "App Image 2"
              },
              {
                "type": "url",
                "id": "app_image_2_url",
                "label": "App Image 2 URL"
              },
              {
                "type": "checkbox",
                "id": "margin_top_enable",
                "label": "Margin Top Enable",
                "default": false
              },
              {
                "type": "header",
                "content": "Column"
              },
              {
                "type": "range",
                "id": "widget_column",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Desktop",
                "unit": "/12",
                "default": 3
              },
              {
                "type": "range",
                "id": "widget_column_md",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Tablet",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "widget_column_sm",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Large Mobile",
                "unit": "/12",
                "default": 12
              }
          ]
       },
	   {
          "type": "newsletter",
          "name": "Newsletter",
		  "limit": 1,
          "settings": [
              {
                "type": "text",
                "id": "widget_title",
                "label": "Title",
                "default": "Signup for newsletter"
              },
              {
                "type": "richtext",
                "id": "newsletter_content",
                "label": "Content"
              },
              {
                "type": "checkbox",
                "id": "margin_top_enable",
                "label": "Margin Top Enable",
                "default": false
              },
              {
                "type": "header",
                "content": "Column"
              },
              {
                "type": "range",
                "id": "widget_column",
                "min": 1,
                "max": 25,
                "step": 1,
                "label": "Desktop",
                "unit": "/25",
                "default": 6
              },
              {
                "type": "range",
                "id": "widget_column_md",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Tablet",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "widget_column_sm",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Large Mobile",
                "unit": "/12",
                "default": 12
              }
          ]
       },
	   {
          "type": "payment_image",
          "name": "Payment",
		  "limit": 1,
          "settings": [
              {
                "type": "text",
                "id": "widget_title",
                "label": "Title",
                "default": "Order faster with our App!"
              },
              {
                "type": "image_picker",
                "id": "app_image_1",
                "label": "App Image 1"
              },
              {
                "type": "url",
                "id": "app_image_1_url",
                "label": "App Image 1 URL"
              },
              {
                "type": "image_picker",
                "id": "app_image_2",
                "label": "App Image 2"
              },
              {
                "type": "url",
                "id": "app_image_2_url",
                "label": "App Image 2 URL"
              },
              {
                "type": "image_picker",
                "id": "payment_image",
                "label": "Image",
        		"info": "Recommended Size: 375 x 30px"
              }
          ]
       },
	   {
          "type": "footer_social",
          "name": "Footer Social",
		  "limit": 1,
          "settings": [
              {
                "type": "text",
                "id": "widget_title",
                "label": "Title",
                "default": "Social Network"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_title_1",
                "label": "Title",
                "default": "Facebook"
              },
              {
                "type": "text",
                "id": "social_icon_1_name",
                "label": "Social Icon Name",
                "default": "facebook",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_1_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_title_2",
                "label": "Title",
                "default": "Linkedin"
              },
              {
                "type": "text",
                "id": "social_icon_2_name",
                "label": "Social Icon Name",
                "default": "linkedin",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_2_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_title_3",
                "label": "Title",
                "default": "Twitter"
              },
              {
                "type": "text",
                "id": "social_icon_3_name",
                "label": "Social Icon Name",
                "default": "twitter",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_3_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_title_4",
                "label": "Title",
                "default": "Behance"
              },
              {
                "type": "text",
                "id": "social_icon_4_name",
                "label": "Social Icon Name",
                "default": "behance",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_4_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_title_5",
                "label": "Title",
                "default": "YouTube"
              },
              {
                "type": "text",
                "id": "social_icon_5_name",
                "label": "Social Icon Name",
                "default": "youtube",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_5_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Column"
              },
              {
                "type": "range",
                "id": "widget_column",
                "min": 1,
                "max": 25,
                "step": 1,
                "label": "Desktop",
                "unit": "/25",
                "default": 2
              },
              {
                "type": "range",
                "id": "widget_column_md",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Tablet",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "widget_column_sm",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Large Mobile",
                "unit": "/12",
                "default": 6
              }
          ]
       },
	   {
          "type": "footer_instagram",
          "name": "Footer Instagram",
		  "limit": 1,
          "settings": [
              {
                "type": "text",
                "id": "widget_title",
                "label": "Title",
                "default": "Instagram Feeds"
              },
              {
                "type": "header",
                "content": "Instagram Image 1"
              },
              {
                "type": "image_picker",
                "id": "instagram_image_1",
                "label": "Image",
        		"info": "Recommended Size: 90 x 70px"
              },
              {
                "type": "url",
                "id": "instagram_image_1_url",
                "label": "URL"
              },
              {
                "type": "header",
                "content": "Instagram Image 2"
              },
              {
                "type": "image_picker",
                "id": "instagram_image_2",
                "label": "Image",
        		"info": "Recommended Size: 90 x 70px"
              },
              {
                "type": "url",
                "id": "instagram_image_2_url",
                "label": "URL"
              },
              {
                "type": "header",
                "content": "Instagram Image 3"
              },
              {
                "type": "image_picker",
                "id": "instagram_image_3",
                "label": "Image",
        		"info": "Recommended Size: 90 x 70px"
              },
              {
                "type": "url",
                "id": "instagram_image_3_url",
                "label": "URL"
              },
              {
                "type": "header",
                "content": "Instagram Image 4"
              },
              {
                "type": "image_picker",
                "id": "instagram_image_4",
                "label": "Image",
        		"info": "Recommended Size: 90 x 70px"
              },
              {
                "type": "url",
                "id": "instagram_image_4_url",
                "label": "URL"
              },
              {
                "type": "header",
                "content": "Instagram Image 5"
              },
              {
                "type": "image_picker",
                "id": "instagram_image_5",
                "label": "Image",
        		"info": "Recommended Size: 90 x 70px"
              },
              {
                "type": "url",
                "id": "instagram_image_5_url",
                "label": "URL"
              },
              {
                "type": "header",
                "content": "Instagram Image 6"
              },
              {
                "type": "image_picker",
                "id": "instagram_image_6",
                "label": "Image",
        		"info": "Recommended Size: 90 x 70px"
              },
              {
                "type": "url",
                "id": "instagram_image_6_url",
                "label": "URL"
              },
              {
                "type": "header",
                "content": "Column"
              },
              {
                "type": "range",
                "id": "widget_column",
                "min": 1,
                "max": 25,
                "step": 1,
                "label": "Desktop",
                "unit": "/25",
                "default": 3
              },
              {
                "type": "range",
                "id": "widget_column_md",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Tablet",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "widget_column_sm",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Large Mobile",
                "unit": "/12",
                "default": 12
              }
          ]
       }
	],
	"default":
     {
       "blocks": [
         {
           "type": "about"
         },
         {
           "type": "contact"
         },
         {
           "type": "menu"
         },
         {
           "type": "social_midea"
         },
         {
           "type": "newsletter"
         },
         {
           "type": "payment_image"
         }
       ]
     }
  }
{% endschema %}