{%- capture bg_image_class -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}bg-img lazyload{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
{%- capture sections_bg_image -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}data-bgset="{%- render 'responsive-bg-image', image: block.settings.section_bg_image -%}"{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
<!-- Video Area -->
<div class="video-banner-2 slick-video-banner {{ bg_image_class }}" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="viedo_banner_2" {{ sections_bg_image }}>
  {%- if section.settings.section_title != '' or section.settings.section_sub_title != '' -%}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- section title start -->
        <div class="section-title text-center">
          {%- if section.settings.section_title != '' -%}
          <h2 class="title">{{ section.settings.section_title }}</h2>
          {%- endif -%}
          {%- if section.settings.section_sub_title != '' -%}
          <p class="sub-title">{{ section.settings.section_sub_title }}</p>
          {%- endif -%}
        </div>
        <!-- section title start -->
      </div>
    </div>
  </div>
  {%- endif -%}
  <div class="full-width-video-banner">
    <video autoplay loop muted playsinline>
      <source src="{{ section.settings.video_url_mp4 }}" type="video/mp4">
      {%- if section.settings.video_url_ogg != '' -%}
      <source src="{{ section.settings.video_url_ogg }}" type="video/ogg">
      Your browser does not support the video tag.
      {%- endif -%}
    </video>
  </div>
</div>
<!-- End Our Video Area -->

<style>
  .full-width-video-banner video{
    height: auto;
    width: 100%;
  }
</style>

{%- render 'section-style' -%}

{% schema %}
  {
    "name": "Full-width Video Banner",
    "settings": [
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Section Title Here"
      	},
		{
          "type": "textarea",
          "id": "section_sub_title",
          "label": "Section Sub Title",
          "default": "Section Sub Title Here"
      	},
		{
			"type": "header",
            "content": "Video Option"
        },
		{
           "type": "paragraph",
           "content": "Upload video in the settings file then copy the URL and paste here. [Files](https://shopify.com/admin/settings/files)"
        },
		{
           "type": "textarea",
           "id": "video_url_mp4",
           "label": "Video URL (mp4)",
           "default": "https://cdn.shopify.com/s/files/1/0250/5169/3134/files/library.mp4?v=1605604578"
        },
		{
           "type": "textarea",
           "id": "video_url_ogg",
           "label": "Video URL (ogg)"
        }
	],
	"blocks":[
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Full-width Video Banner",
		  "category": "others",
		  "blocks":[
				{
					"type": "section_padding"
				}
			]
		}
	],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}

