{%- capture bg_image_class -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}bg-img lazyload{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
{%- capture sections_bg_image -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}data-bgset="{%- render 'responsive-bg-image', image: block.settings.section_bg_image -%}"{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}

    <!--================= Featured Product Section Start Here =================-->
    <div class="{% if section.settings.blog_style == 'style_1' %}  rts-featured-product-section3 {% elsif section.settings.blog_style == 'style_1' %}   rts-featured-product-section3 section-7 {% else %}  rts-featured-product-section3 section9 section-10 {% endif %}  {{ bg_image_class }}"  id="section-{{ section.id }}" data-section="LatestBlog" {{ sections_bg_image }}>
        <div class="container">
            <div class="rts-featured-product-section-inner">
                <div class="section-header section-header3 text-center">
                    <div class="wrapper">
                        <div class="sub-content">
                            <img class="line-1" src="{{ section.settings.title_image_1 | img_url: 'large' }}" alt="">
                            <span class="sub-text">{{ section.settings.section_sub_title }}</span>
                            <img class="line-2" src="{{ section.settings.title_image_2 | img_url: 'large' }}" alt="">
                        </div>
                        <h2 class="title">{{ section.settings.section_title }}</h2>
                    </div>
                </div>
                <div class="row">
                            {%- assign blog = blogs[section.settings.blog_handle] -%}
          {%- assign blog_limit = section.settings.blog_limit_handle -%}
          {%- for article in blog.articles limit: blog_limit -%}
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="full-wrapper wrapper-1">
                            {%- if article.image -%}
 <div class="image-part">
    <a href="{{ article.url }}" class="lazyload-wraper-position" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
      {%- render 'responsive-image' with image: article.image, image_class: "lazyload-main-image" -%}
    </a>
  </div>
  {%- endif -%}
                            <div class="blog-content">
    {%- if section.settings.blog_date_enable -%}
                                <span class="date-full">
                                    <span class="day">{{ article.published_at | date: '%d' }}</span>
                                    <br>
                                    <span class="month">{{ article.published_at | date: '%m' }}</span>
                                </span>
    {%- endif -%}
                                <ul class="blog-meta">  
                                  {%- for tag in article.tags limit: 1 -%}
                                    <li><a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a></li>
                                  {%- endfor -%}
                                </ul>
                                <div class="title">
                                    <a href="{{ article.url }}">{{ article.title }}</a>
                                </div>
                                <div class="author-info d-flex align-items-center">
                                    <div class="avatar"><img src="{{ section.settings.auther_image | img_url: 'large' }}" alt="{{ section.settings.auther_image.alt }}"></div>
                                    <div class="info">
                                      
    {%- if section.settings.author_name_enable -%}
                                        <p class="author-name">{{ article.author }}</p>
    {%- endif -%}
                                        <p class="author-dsg">{{ section.settings.author_title }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
          {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
    <!--================= Featured Product Section End Here =================-->



{%- render 'section-style' -%}

{% schema %}
  {
    "name": "Latest Blog 2",
    "settings": [
        {
          "type": "select",
          "id": "blog_style",
          "label": "Blog Style",
          "options": [
            {
              "label": "Style One",
              "value": "style_1"
            },
            {
              "label": "Style Two",
              "value": "style_2"
            },
            {
              "label": "Style Three",
              "value": "style_3"
            }
          ],
          "default": "style_1"
        },
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "FEATURED PRODUCT"
      	},
		{
          "type": "textarea",
          "id": "section_sub_title",
          "label": "Section Sub Title",
          "default": "Featured"
      	},	
        {
          "type": "image_picker",
          "id": "title_image_1",
          "label": "Image 1",
          "info": "Recommended Size: 22 x 6px"
        },
        {
          "type": "image_picker",
          "id": "title_image_2",
          "label": "Image 2",
          "info": "Recommended Size: 22 x 6px"
        },
		{
			"type": "header",
            "content": "Blog"
        },
		{
          "type": "blog",
          "id": "blog_handle",
          "label": "Select Blog"
        },
		{
            "type": "range",
            "id": "blog_limit_handle",
            "min": 2,
            "max": 12,
            "step": 1,
            "label": "Limit",
            "default": 3
        },
              {
                "type": "image_picker",
                "id": "auther_image",
                "label": "Image",
        		"info": "Recommended Size: 51 x 51px"
              },
		{
          "type": "text",
          "id": "author_title",
          "label": "Author Title",
          "default": "Author"
      	},
		{
          "type": "checkbox",
          "id": "blog_date_enable",
          "label": "Show Blog Date",
          "default": true
      	},
		{
          "type": "checkbox",
          "id": "author_name_enable",
          "label": "Show Blog Author",
          "default": true
      	}
    ],
	"blocks":[
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Latest Blog 2",
		  "category": "6. blog",
		  "blocks":[
				{
					"type": "section_padding"
				}
			]
		}
	],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}