        {%- capture bg_image_class -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}bg-img lazyload{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
{%- capture sections_bg_image -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}data-bgset="{%- render 'responsive-bg-image', image: block.settings.section_bg_image -%}"{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}

   <div class="rts-feeds-section rts-feeds-section2 section-gap  {{ bg_image_class }}"  id="section-{{ section.id }}" data-section="LatestBlog" {{ sections_bg_image }}>
        <div class="container">
            <div class="section-header section-header4">
                <span class="section-title section-title-2 mb--5">{{ section.settings.section_title }}</span>
                <a href="{{ section.settings.button_title_url }}" class="go-btn">{{ section.settings.button_title }} <i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="row justify-content-center">
                            {%- assign blog = blogs[section.settings.blog_handle] -%}
          {%- assign blog_limit = section.settings.blog_limit_handle -%}
          {%- for article in blog.articles limit: blog_limit -%}
                <div class="col-xl-4 col-md-6">
                    <div class="feed-item">
                            {%- if article.image -%}
                              <a href="{{ article.url }}" class="lazyload-wraper-position feed-image" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                                {%- render 'responsive-image' with image: article.image, image_class: "lazyload-main-image" -%}
                              </a>
                            {%- endif -%}
                        <div class="contents">
                            <div class="feed-info">
                              {%- for tag in article.tags limit: 1 -%}
                                <a href="{{ blog.url }}/tagged/{{ tag | handle }}"  class="feed-catagory">{{ tag }}</a>
                              {%- endfor -%}
                            </div>
                            <h2 class="feed-title">
                              <a href="{{ article.url }}">{{ article.title }}</a>
                            </h2>
                            <div class="author">
                                <div class="author-dp"><img src="{{ section.settings.auther_image | img_url: 'large' }}" alt="{{ section.settings.auther_image.alt }}"></div>
                                <div class="content">
    {%- if section.settings.author_name_enable -%}
                                    <h4 class="author-name">{{ article.author }}</h4>
    {%- endif -%}
                                    <span class="title">{{ section.settings.author_title }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
          {%- endfor -%}
            </div>
        </div>
    </div>

        

{%- render 'section-style' -%}

{% schema %}
  {
    "name": "Latest Blog 4",
    "settings": [
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Blog & Insights"
      	},
		{
          "type": "textarea",
          "id": "button_title",
          "label": "Button Title",
          "default": "Other Category"
      	},	
		{
          "type": "url",
          "id": "button_title_url",
          "label": "URL"
      	},	
		{
			"type": "header",
            "content": "Blog"
        },
		{
          "type": "blog",
          "id": "blog_handle",
          "label": "Select Blog"
        },
		{
            "type": "range",
            "id": "blog_limit_handle",
            "min": 2,
            "max": 12,
            "step": 1,
            "label": "Limit",
            "default": 3
        },
              {
                "type": "image_picker",
                "id": "auther_image",
                "label": "Image",
        		"info": "Recommended Size: 51 x 51px"
              },
		{
          "type": "text",
          "id": "author_title",
          "label": "Author Title",
          "default": "Author"
      	},
		{
          "type": "checkbox",
          "id": "author_name_enable",
          "label": "Show Blog Author",
          "default": true
      	}
    ],
	"blocks":[
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Latest Blog 4",
		  "category": "6. blog",
		  "blocks":[
				{
					"type": "section_padding"
				}
			]
		}
	],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}