{%- capture bg_image_class -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}bg-img lazyload{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
{%- capture sections_bg_image -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}data-bgset="{%- render 'responsive-bg-image', image: block.settings.section_bg_image -%}"{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}


 <div class="{% if section.settings.service_style == 'style_1' %}  rts-services-section section-gap  {% else %}  rts-services-section section-gap services-section8   {% endif %}  {{ bg_image_class }}" id="section-{{ section.id }}" {{ sections_bg_image }}>
        <div class="container">
            <div class="row">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'service' -%}
                <div class="{% if section.settings.service_style == 'style_1' %} col-xl-{{ block.settings.service_column }}   {% else %} col-lg-{{ block.settings.service_column }}   {% endif %}  col-md-{{ block.settings.service_column_md }} col-{{ block.settings.service_column_sm }} ">
                    <div class="service-item">
                        <div class="service-icon">
                          <img src="{{ block.settings.service_icon | img_url: 'thumb' }}" alt="{{ block.settings.service_icon.alt }}">
                        </div>
                        <div class="contents">
                            {%- if block.settings.service_title != '' -%}
                            <h3 class="service-title">{{ block.settings.service_title }}</h3>
                            {%- endif -%}
                            {%- if block.settings.service_content != '' -%}
                            {{ block.settings.service_content }}
                            {%- endif -%}
                        </div>
                    </div>
                </div>
      {%- endcase -%}
      {%- endfor -%}
              
            </div>
        </div>
    </div>

{%- render 'section-style' -%}
{% schema %}
  {
    "name": "Service 3",
    "settings": [
        {
          "type": "select",
          "id": "service_style",
          "label": "Service Style",
          "options": [
            {
              "label": "Style One",
              "value": "style_1"
            },
            {
              "label": "Style Two",
              "value": "style_2"
            }
          ],
          "default": "style_1"
        }
      
	],
	"blocks":[
          {
            "type": "service",
            "name": "Service",
            "settings": [
              {
                "type": "image_picker",
                "id": "service_icon",
                "label": "Image",
        		"info": "Recommended Size: 133 x 133px"
              },
              {
                "type": "text",
                "id": "service_title",
                "label": "Title",
                "default": "International Shipment"
              },
              {
                "type": "richtext",
                "id": "service_content",
                "label": "Content",
                "default": "<p>Orders are shipped seamlessly between countries</p>"
              },
              {
                "type": "header",
                "content": "Service Column"
              },
              {
                "type": "range",
                "id": "service_column",
                "min": 1,
                "max": 20,
                "step": 1,
                "label": "Desktop",
                "unit": "/20",
                "default": 3
              },
              {
                "type": "range",
                "id": "service_column_md",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Tablet",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "service_column_sm",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Mobile",
                "unit": "/12",
                "default": 12
              }
            ]
         },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Service 3",
		  "category": "5. about",
		  "blocks":[
				{
					"type": "service"
				},
				{
					"type": "service"
				},
				{
					"type": "service"
				},
				{
					"type": "service"
				},
			]
		}
	]
  }
{% endschema %}