{%- capture bg_image_class -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}bg-img lazyload{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
{%- capture sections_bg_image -%}
{%- for block in section.blocks -%}{%- case block.type -%}{%- when 'section_background' -%}{%- if block.settings.section_bg_image -%}data-bgset="{%- render 'responsive-bg-image', image: block.settings.section_bg_image -%}"{%- endif -%}{%- endcase -%}{%- endfor -%}
{%- endcapture -%}
{%- if section.settings.services_enable -%}
<div class="service-policy {{ bg_image_class }}" id="section-{{ section.id }}" {{ sections_bg_image }}>
  <div class="container">
    <div class="{% if section.settings.border_bottom_enable %}policy-block pb-80{% endif %}">
      <div class="row mtn-30">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'service' -%}
        <div {{ block.shopify_attributes }} class="col-{{ block.settings.service_column_sm }} col-sm-{{ block.settings.service_column_sm }} col-md-{{ block.settings.service_column_md }} col-lg-{{ block.settings.service_column }}">
          <div class="policy-item">
            {%- if block.settings.service_icon != '' -%}
            <div class="policy-icon">
              <i class="pe-7s-{{ block.settings.service_icon }}"></i>
            </div>
            {%- endif -%}
            <div class="policy-content">
              {%- if block.settings.service_title != '' -%}
              <h6>{{ block.settings.service_title }}</h6>
              {%- endif -%}
              {%- if block.settings.service_content != '' -%}
              {{ block.settings.service_content }}
              {%- endif -%}
            </div>
          </div>
        </div>
        {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{%- endif -%}
{%- if section.settings.section_color_enable -%}
<style>
  #section-{{ section.id }} .policy-icon {
    color: {{ section.settings.icon_color }};
  }
  #section-{{ section.id }} .policy-content h6 {
    color: {{ section.settings.title_color }};
  }
  #section-{{ section.id }} .policy-content p {
    color: {{ section.settings.content_color }};
  }
  {%- if section.settings.border_bottom_enable -%}
  #section-{{ section.id }} .policy-block {
    border-bottom: 1px solid {{ section.settings.border_color }};
  }
  {%- endif -%}
</style>
{%- endif -%}

{%- render 'section-style' -%}

{% schema %}
  {
    "name": "Service",
    "settings": [
		{
          "type": "checkbox",
          "id": "services_enable",
          "label": "Show Services",
          "default": true
      	},
		{
		  "type": "header",
          "content": "<!> Instruction"
        },
		{
		  "type": "paragraph",
          "content": "Only the name of the icon should be named in the service icon name field."
        },
		{
		  "type": "paragraph",
          "content": "The name of the icon 'pe-7s-album' on the web page is given in this way, from here just the name of the icon 'album' will be given in this way."
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "checkbox",
          "id": "section_color_enable",
          "label": "Color Enable",
          "default": false,
          "info": "Enable the field for color customization"
        },
        {
          "type": "color",
          "id": "icon_color",
          "label": "Icon Color",
          "default": "#c29958"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#222"
        },
        {
          "type": "color",
          "id": "content_color",
          "label": "Content Color",
          "default": "#777"
        },
        {
          "type": "checkbox",
          "id": "border_bottom_enable",
          "label": "Border Bottom Enable",
          "default": false
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border Bottom Color",
          "default": "#efefef"
        }
	],
	"blocks":[
          {
            "type": "service",
            "name": "Service",
			"limit": 4,
            "settings": [
              {
                "type": "text",
                "id": "service_icon",
                "label": "Icon Name",
                "default": "plane",
                "info": "Find icon [here](https://themes-pixeden.com/font-demos/7-stroke/)"
              },
              {
                "type": "text",
                "id": "service_title",
                "label": "Title",
                "default": "Free Shipping"
              },
              {
                "type": "richtext",
                "id": "service_content",
                "label": "Content",
                "default": "<p>Free shipping all order</p>"
              },
              {
                "type": "header",
                "content": "Service Column"
              },
              {
                "type": "range",
                "id": "service_column",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Desktop",
                "unit": "/12",
                "default": 3
              },
              {
                "type": "range",
                "id": "service_column_md",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Tablet",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "service_column_sm",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Mobile",
                "unit": "/12",
                "default": 6
              }
            ]
         },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Service",
		  "category": "5. about",
		  "blocks":[
				{
					"type": "service"
				},
				{
					"type": "service"
				},
				{
					"type": "service"
				},
				{
					"type": "service"
				},
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}
