<!--================= Banner Section Start Here =================-->
<div class="banner banner-1 bg-image" id="section-{{ section.id }}" data-section="SlideShow_2">
    <div class="container">
        <div class="banner-inner">
            <div class="row">
                <div class="col-xl-2 col-md-4 col-sm-12 gutter-1">
                    <div class="catagory-sidebar">
                        <div class="widget-bg">
                            <h2 class="widget-title">{{ section.settings.categories_title }} <i class="rt-angle-down"></i></h2>
                            <nav>
                                <ul>
                                  
                {%- assign menu = section.settings.menu_handle -%}
                {%- for link in linklists[menu].links -%}
                                    <li><a href="{{ link.url }}">{{ link.title }} <i class="rt rt-arrow-right-long"></i></a></li>
                {%- endfor -%}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-10 col-md-8 col-sm-12 gutter-2">
                    <div class="swiper bannerSlide2">
                        <div class="swiper-wrapper">
                                    {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when 'slide' -%}
                            <div class="swiper-slide"  id="block-{{ block.id }}">
                                <div class="banner-single bg-image bg-image-3-1">
                                    <div class="container">
                                        <div class="single-inner">
                                            <div class="content-box">
                                                <p class="slider-subtitle"><img
                                                        src="{{ block.settings.title_image_1 | img_url: 'large' }}" alt=""> {{ block.settings.slide_sub_title }}</p>
                                                <h2 class="slider-title">{{ block.settings.slide_title }}</h2>
                                                <div class="slider-description">
                                                    <p>{{ block.settings.slide_content }}</p>
                                                </div>
                                                <a href="{{ block.settings.slide_button_url }}" class="slider-btn2">{{ block.settings.slide_button_title }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
          {%- endcase -%}
          {%- endfor -%}
                        </div>
                        <div class="slider-navigation">
                            <div class="swiper-button-prev slider-btn prev"><i
                                    class="rt rt-arrow-left-long"></i></div>
                            <div class="swiper-button-next slider-btn next"><i
                                    class="rt rt-arrow-right-long"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================= Banner Section End Here =================-->

<style>
                                    {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when 'slide' -%}
.banner #block-{{ block.id }} .banner-single.bg-image-3-1 {
  background-image: url("{{ block.settings.slide_image | img_url: 'master' }}");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

          {%- endcase -%}
          {%- endfor -%}

            </style>
          
{%- render 'section-style' -%}

{% schema %}
  {
    "name": "Slideshow 3",
    "settings": [
        {
          "type": "header",
          "content": "Categories Menu"
        },
        {
          "type": "text",
          "id": "categories_title",
          "label": "Title",
          "default": "All Categories"
        },
        {
          "type": "link_list",
          "id": "menu_handle",
          "label": "Menu"
        }
	],
	"blocks":[
	   {
          "type": "slide",
          "name": "Slide",
		  "limit": 5,
          "settings": [
            {
              "type": "image_picker",
              "id": "slide_image",
              "label": "Image",
              "info": "Recommended Size: 1920 x 670px"
            },
              {
                "type": "header",
                "content": "Content"
              },
            {
              "type": "textarea",
              "id": "slide_sub_title",
              "label": "Sub Title",
              "default": "Spring summer 22 women’s collection "
            },
            {
              "type": "image_picker",
              "id": "title_image_1",
              "label": "Sub Title Image",
              "info": "Recommended Size: 22 x 6px"
            },
            {
              "type": "textarea",
              "id": "slide_title",
              "label": "Title",
              "default": " HOT COLLECTION <br> FOR WOMEN",
              "info": "Use '<br>' tag for line break"
            },
            {
              "type": "textarea",
              "id": "slide_content",
              "label": "Content",
              "default": "Easy & safe payment with PayPal. sequines & embroidered for all"
            },
            {
              "type": "text",
              "id": "slide_button_title",
              "label": "Button Title",
              "default": "View Collections"
            },
            {
              "type": "url",
              "id": "slide_button_url",
              "label": "URL"
            }
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Slideshow 3",
		  "category": "1. slideshow",
		  "blocks":[
				{
					"type": "slide"
				},
				{
					"type": "slide"
				},
				{
					"type": "slide"
				},
				{
					"type": "section_padding"
				}
			]
		}
	],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}