<div class="banner banner-2 banner-7 bg-image"  id="section-{{ section.id }}" data-section="SlideShow_9" >
    <div class="container">
        <div class="banner-inner">
            <div class="row align-items-center">
           {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when 'slide_content' -%}
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 first-child">
                    <div class="rts-heading">
                        <div class="title-inner">
            {%- if block.settings.slide_sub_title != '' -%}
                            <div class="sub-title">
                                <h2>{{ block.settings.slide_sub_title }}</h2>
                            </div>
            {%- endif -%}
            {%- if block.settings.slide_title != '' -%}
                            <h2 class="title">
                                <span class="watermark">
                                    {{ block.settings.slide_title }}
                                </span>
                            </h2>
            {%- endif -%}
                        </div>
            {%- if block.settings.slide_description != '' -%}
                        <p class="description">{{ block.settings.slide_description}}</p>
            {%- endif -%}
                        <div class="section-btn">
            {%- if block.settings.slide_button_title != '' -%}
                            <div class="rts-btn">
                                <a href="{{ block.settings.slide_button_url }}">{{ block.settings.slide_button_title }}</a>
                            </div>
            {%- endif -%}
                            <div class="rts-video">
                                <a href="{{ block.settings.video_url }}" class="popup-videos">
                                    <i class="far fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            
                {%- when 'slide_image' -%}
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="product-item2 element-item2">
                        <a href="{{ block.settings.slide_url }}" class="product-image2 image-slider-variations">
                            <img src="{{ block.settings.slide_image | img_url: 'master' }}" alt="{{ block.settings.slide_image.alt }}">
                        </a>
                    </div>
                </div>

          {%- when 'slide_product' -%}
                <div class="col-xl-4 col-lg-4 last-child">
                    <div class="row">
                        <div class="col-xl-2"></div>
                        <div class="col-xl-10 col-lg-12 col-12  side-product">
                <div class="swiper productSlide_5">
                    <div class="swiper-wrapper">
                      
        {%- assign featured_product = collections[block.settings.featured_product_handle] -%}
        {%- assign featured_product_limit = block.settings.featured_product_limit_handle -%}
        {%- if featured_product == empty -%}
                        {%- assign a = 1 -%}
          {%- for i in (1..featured_product_limit) -%}
          {%- assign product_item = "product-" | append: a  -%}
          {%- assign a = a | plus: 1 -%}
                        <div class="swiper-slide">
                            <div class="product-item element-item2">
                        {{ product_item | placeholder_svg_tag: 'product-svg-image' }}
                                <div class="bottom-content">
                                    <a href="#" class="product-name">Apex Men's Shoe</a>
                                    <div class="action-wrap">
                                        <span class="price">$44.00 - $233.00</span>
                                    </div>
                                </div>
                                <div class="quick-action-button">
                                    <div class="cta-single cta-plus">
                                        <a href="#"><i class="rt-plus"></i></a>
                                    </div>
                                    <div class="cta-single cta-quickview">
                                        <button class="product-details-popup-btn"><i class="fa fa-eye"></i></button>
                                    </div>
                                    <div class="cta-single cta-wishlist">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="cta-single cta-addtocart">
                                        <a href="#"><i class="rt-basket-shopping"></i></a>
                                    </div>
                                </div>
                            </div>
                                    </div>
          {%- if a == 7 -%}
          {%- assign a = 1 -%}
          {%- endif -%}
          {%- endfor -%}
        {%- else -%}
                      {%- for product in featured_product.products limit: featured_product_limit -%}
                        <div class="swiper-slide">
                      {%- render 'product-grid-item-6', product: product, collection: featured_product -%}
                                    </div>
          {%- endfor -%}
        {%- endif -%}
                                </div>
                            </div>

                                            <div class="slider-buttons">
                                                <div class="button-prev slider-btn"><i class="rt-arrow-left-long"></i>
                                                </div>
                                                <div class="button-next slider-btn"><i class="rt-arrow-right-long"></i>
                                                </div>
                                            </div>
                          
                        </div>
                    </div>
                </div>
              
          {%- endcase -%}
          {%- endfor -%}
            </div>
        </div>
    </div>
</div>

  <style>
.banner.banner-2.banner-7 {
  background: url({{ section.settings.bg_image | img_url: 'master' }});
  margin-bottom: 0;
}
      </style>

{%- render 'section-style' -%}

{% schema %}
  {
    "name": "Slideshow 10",
    "settings": [
          {
            "type": "header",
            "content": "Background Image"
          },
          {
            "type": "image_picker",
            "id": "bg_image",
            "label": "BG Image",
            "info": "Recommended Size: 1920 x 700px"
          }
	],
	"blocks":[
	   {
          "type": "slide_content",
          "name": "Slide Content",
		  "limit": 5,
          "settings": [
              {
                "type": "textarea",
                "id": "slide_sub_title",
                "label": "Sub Title",
                "default": "2022"
              },
              {
                "type": "textarea",
                "id": "slide_title",
                "label": "Title",
                "default": "New Arrivals"
              },
              {
                "type": "text",
                "id": "slide_description",
                "label": "Description",
                "default": "Sale up to 30% off"
              },
              {
                "type": "text",
                "id": "slide_button_title",
                "label": "Button Title",
                "default": "Veiw Collections"
              },
              {
                "type": "url",
                "id": "slide_button_url",
                "label": "URL"
              },
    		{
               "id": "video_url",
               "type": "video_url",
               "label": "Video URL",
               "accept": ["youtube"],
               "default": "https://www.youtube.com/watch?v=S05bHj0LBE4"
            }
          ]
       },
          {
            "type": "slide_image",
            "name": "Slide Image",
            "settings": [
              {
                "type": "image_picker",
                "id": "slide_image",
                "label": "Image",
                "info": "Recommended Size: 560 x 775px"
              },
                {
                  "type": "url",
                  "id": "slide_url",
                  "label": "URL"
                }
            ]
         },
          {
            "type": "slide_product",
            "name": "Slide Product",
            "settings": [
      		 {
      			"type": "collection",
                  "id": "featured_product_handle",
                  "label": "Select Collection"
              },
      		  {
                  "type": "range",
                  "id": "featured_product_limit_handle",
                  "min": 1,
                  "max": 20,
                  "step": 1,
                  "label": "Limit",
                  "default": 1
              }
            ]
         },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Slideshow 10",
		  "category": "1. slideshow",
		  "blocks":[
				{
					"type": "slide_content"
				},
				{
					"type": "slide_image"
				},
				{
					"type": "slide_product"
				}
			]
		}
	],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}